:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  color: #fff;
}

.todo-logo {
  &-icon {
    margin-right: 16px;
  }
  &-text {
    font-size: 24px;
    line-height: 24px;
  }
}

.todo-add-button {
  margin: 20px;
}

.nav-list-item {
  &.active {
    background-color: #3f51b5;
    color: #fff;
  }
}
