$prefix: 'search';
$search-height: 56px;
$search-background: #fff;

.#{$prefix} {
  background: $search-background;
  min-height: $search-height;
  max-height: $search-height;

  mat-icon {
    vertical-align: middle;
    margin-right: 14px;
    margin-left: 16px;
  }

  input {
    border: 0;
    height: $search-height;
    outline: none;
  }
}
