$stbui-search-height: 56px;

.stbui-search {
  display: block;

  &-container {
    display: flex;
    align-items: center;
    min-height: $stbui-search-height;
    max-height: $stbui-search-height;

    > mat-icon {
      margin-right: 12px;
      margin-left: 12px;
    }

    > input {
      flex: 1 1 auto;
      height: 56px;
      border: 0;
      outline: none;
      margin-right: 10px;
      background: transparent;
    }
  }
}
