$prefix: 'search';
$search-height: 56px;
$search-background: #fff;

:host {
  display: block;
}

.#{$prefix} {
  background: $search-background;
  min-height: $search-height;
  max-height: $search-height;
  background: rgba(0, 0, 0, 0.04);

  mat-icon {
    vertical-align: middle;
    margin-right: 14px;
    margin-left: 16px;
  }

  input {
    height: 46px;
    border: 0;
    outline: none;
    margin-right: 10px;
    background: transparent;
  }
}
