:host {
  display: inline-block;
}

.speed-dial-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speed-dial-trigger {
  z-index: 20;
  order: 2;
}

.speed-dial-actions {
  display: flex;
  flex-direction: column-reverse;
  order: 1;
  >button {
    margin-bottom: 10px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  }
}

.speed-dial-container.down {
  .speed-dial-trigger {
    order: 1;
  }
  .speed-dial-actions {
    flex-direction: column;
  }
  .speed-dial-actions button {
    margin-top: 10px;
  }
}
