:host {
  display: block;
  margin: 5px;
}

mat-card {
  margin: 5px;
  padding: 0;
  min-height: 400px;
}

mat-card-title {
  padding: 16px 24px;
}

mat-card-content {
  padding: 0 24px 24px 24px;
}
