<div fxLayout="row wrap">
    <analysis-crowd-permeability [data]="permeability" fxFlex></analysis-crowd-permeability>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50">
    <analysis-crowd-age [data]="ageData"></analysis-crowd-age>
  </div>
  <div fxFlex.gt-sm="50">
    <analysis-crowd-consumer [data]="consumerData"></analysis-crowd-consumer>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50">
    <analysis-crowd-gender></analysis-crowd-gender>
  </div>
  <div fxFlex.gt-sm="50">
    <analysis-crowd-region></analysis-crowd-region>
  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50">
    <analysis-crowd-brand></analysis-crowd-brand>
  </div>
  <div fxFlex.gt-sm="50">
    <analysis-crowd-operators [data]="operatorData"></analysis-crowd-operators>
  </div>
</div>

