<div fxLayout="row" fxLayoutWrap>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>最偏好领域TOP5</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>人群应用渗透TOP10</mat-card-title>
      <mat-card-content>
        <canvas baseChart height="150px"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>人群年龄分布TOP3</mat-card-title>
      <mat-card-content>
        <canvas baseChart height="150px"
                [data]="angeChartData"
                [labels]="angeChartLabels"
                [chartType]="doughnutChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>人群消费能力分布TOP3</mat-card-title>
      <mat-card-content>
        <canvas baseChart height="150px"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>人群性别比例</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>人群地域覆盖TOP3</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>最爱设备品牌TOP3</mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>运营商分布</mat-card-title>
      <mat-card-content>
        <canvas baseChart height="150px"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"></canvas>

      </mat-card-content>
    </mat-card>
  </div>
</div>

