<div fxLayout="row" fxLayoutWrap>
  <div fxFlex.gt-sm="33.3">
    <md-card>
      <md-card-title>charts</md-card-title>
      <md-card-content>
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <md-card>
      <md-card-title>charts</md-card-title>
      <md-card-content>
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <md-card>
      <md-card-title>charts</md-card-title>
      <md-card-content>
        <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </md-card-content>
    </md-card>
  </div>
</div>




