<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Line chart</mat-card-title>
      <mat-card-content>
        <stbui-chart-line></stbui-chart-line>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Bar chart</mat-card-title>
      <mat-card-content>
        <stbui-chart-bar></stbui-chart-bar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Doughnut chart</mat-card-title>
      <mat-card-content>
        <stbui-chart-doughnut></stbui-chart-doughnut>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Pie chart</mat-card-title>
      <mat-card-content>
        <stbui-chart-pie></stbui-chart-pie>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Radar chart</mat-card-title>
      <mat-card-content>
        <stbui-chart-radar></stbui-chart-radar>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.3">
    <mat-card>
      <mat-card-title>Polar Area Chart</mat-card-title>
      <mat-card-content>
        <stbui-chart-polar></stbui-chart-polar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
