<md-card>
  <md-card-title>Popover</md-card-title>
  <md-card-content>
    <!--<button md-icon-button [popoverTriggerFor]="popover">-->
      <!--<md-icon>grade</md-icon>-->
    <!--</button>-->
    <!--<stbui-popover #popover="stbuiPopover">-->
      <!--<stbui-date-picker mode="landscape"></stbui-date-picker>-->
    <!--</stbui-popover>-->

    <button md-button (click)="showSuccess()">显示</button>
    <button md-button (click)="clear()">隐藏</button>
  </md-card-content>
</md-card>

