$pagination-font-size-base: 14px !default;
$pagination-size: 32px !default;
$pagination-line-height: 32px !default;
$pagination-padding: 0 8px !default;
$pagination-margin: 0 8px !default;
$pagination-border-radius: 2px !default;

:host {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  cursor: pointer;

  li {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $pagination-font-size-base;
    font-weight: 500;
    text-align: center;

    height: $pagination-size;
    min-width: $pagination-size;
    padding: $pagination-padding;
    margin: $pagination-margin;
    line-height: $pagination-line-height;
    position: relative;
    border-radius: $pagination-border-radius;
  }

  &-item-wrapper {
    display: flex;
  }
}

.pagination-end {
  display: flex;
  justify-content: flex-end;
}

.pagination-center {
  display: flex;
  justify-content: center;
}
