@mixin pagination-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .pagination li {
    color: mat-color($foreground, text);

    :hover {
      background-color: mat-color($primary, .2);
    }

    &:hover .active,
    &:hover.active,
    .active,
    &.active {
      background-color: mat-color($primary);
      color: mat-color($background, card);
    }
  }

}
