<apm-performance-view></apm-performance-view>

<div class="m-t-20" (clickOutside)="onClickOutside($event)">

  <ngx-datatable *ngIf="rows?.length"
  class="material"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columnMode]="'force'"
  [columns]="columns"
  [headerHeight]="50"
  [rowHeight]="50"
  [footerHeight]="50"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [limit]="10"
  [selected]="selected"
  [selectionType]="'single'"
  (select)='onSelect($event)'>

  <ngx-datatable-column name="id" prop="id" width="20"></ngx-datatable-column>
  <ngx-datatable-column name="版本" prop="releaseStage" [width]="50"></ngx-datatable-column>
  <ngx-datatable-column name="访问地址" prop="url"></ngx-datatable-column>
    <ngx-datatable-column name="响应时间" prop="connect"></ngx-datatable-column>
    <ngx-datatable-column name="DNS查询时间" prop="dns"></ngx-datatable-column>
    <ngx-datatable-column name="白屏时间" prop="black_waiting_time"></ngx-datatable-column>
    <ngx-datatable-column name="资源加载时间" prop="total_time"></ngx-datatable-column>
  </ngx-datatable>

</div>