<div class="main-toolbar mat-elevation-z2" fxLayout="row" fxLayoutAlign="start center">

  <span fxFlex></span>

  <button md-button [fxHide]="true" [fxHide.gt-sm]="false" class="fullscreen-btn" (click)="toggleFullscreen()">
    <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
    <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
  </button>

  <button md-button class="search-btn">
    <md-icon>search</md-icon>
  </button>

  <button md-button [mdMenuTriggerFor]="menu" class="notify-btn">
    <md-icon>notifications_none</md-icon>
    <span class="badge">3</span>
  </button>

  <stbui-toolbar-user></stbui-toolbar-user>

  <button md-button class="more-btn" (click)="customizer.open()">
    <md-icon>more_vert</md-icon>
  </button>

</div>


<md-menu #menu="mdMenu">
  <button md-menu-item>
    <md-icon>dialpad</md-icon>
    <span>通知列表</span>
  </button>
  <button md-menu-item disabled>
    <md-icon>voicemail</md-icon>
    <span>项目体验</span>
  </button>
  <button md-menu-item>
    <md-icon>notifications_off</md-icon>
    <span>开发进度</span>
  </button>
</md-menu>
