<div class="main-toolbar mat-elevation-z2" [ngClass]="[theme.header]" fxLayout="row" fxLayoutAlign="start center">
  <button md-icon-button (click)="sidenav.opened = !sidenav.opened">
    <md-icon>menu</md-icon>
  </button>

  <span fxFlex></span>

  <button md-icon-button [fxHide]="true" [fxHide.gt-sm]="false" (click)="toggleFullscreen()">
    <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
    <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
  </button>

  <button md-icon-button>
    <md-icon>search</md-icon>
  </button>

  <stbui-toolbar-notification></stbui-toolbar-notification>

  <stbui-toolbar-user></stbui-toolbar-user>

  <button md-button class="more-btn" (click)="customizer.open()">
    <md-icon>more_vert</md-icon>
  </button>

</div>
