<section class="app-footer">
<div class="container-fluid">
<span class="float-left">
<span>Copyright © <a class="brand" target="_blank" >{{ 1 }}</a>{{ 2 }}</span>
</span>
<span class="float-right">
<span>Built with Love <i class="material-icons">favorite_border</i></span>
</span>
</div>
</section>



<!--<md-sidenav-container fullscreen>-->
  <!--<md-sidenav #start>-->
    <!--<md-nav-list>-->
      <!--<a md-list-item routerLink="/buttons">test</a>-->
      <!--<a md-list-item routerLink="/buttons">test</a>-->
      <!--<a md-list-item routerLink="/buttons">test</a>-->
      <!--<a md-list-item routerLink="/buttons">test</a>-->
      <!--<a md-list-item routerLink="/buttons">test</a>-->
    <!--</md-nav-list>-->
  <!--</md-sidenav>-->
  <!--<md-toolbar color="primary">-->
    <!--<button>aaaaaaa</button>-->
  <!--</md-toolbar>-->
<!--</md-sidenav-container>-->
