$color__inactive: #616161;

.toolbar {
  box-sizing: border-box;
  min-height: 60px;
  max-height: 60px;
  border-bottom: 1px solid #eee;
  padding: 8px 24px;
  color: $color__inactive;

  .chevrons {
    margin-left: 16px;
  }
}

.toolbar-detail {
  .icon-group {
    border-right: 1px solid #eee;
  }

  .back {
    margin-left: -12px;
    margin-right: 12px;
  }

  .archive {
    margin-left: 12px;
    margin-right: 6px;
  }

  .spam {
    margin-left: 6px;
    margin-right: 6px;
  }

  .delete {
    margin-left: 6px;
    margin-right: 12px;
  }

  .move {
    margin-left: 12px;
    margin-right: 6px;
  }

  .label {
    margin-left: 6px;
    margin-right: 12px;
  }

  .options {
    margin-left: 12px;
    margin-right: 12px;
  }
}
