
.toolbar {
  min-height: 48px;
  max-height: 48px;
  padding: 8px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);

  .chevrons {
    margin-left: 16px;
  }

  .checkbox {
    margin-right: 8px;
  }
}

.toolbar-detail {
  .icon-group {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }

  .back {
    margin-left: -12px;
    margin-right: 12px;
  }

  .archive {
    margin-left: 12px;
    margin-right: 6px;
  }

  .spam {
    margin-left: 6px;
    margin-right: 6px;
  }

  .delete {
    margin-left: 6px;
    margin-right: 12px;
  }

  .move {
    margin-left: 12px;
    margin-right: 6px;
  }

  .label {
    margin-left: 6px;
    margin-right: 12px;
  }

  .options {
    margin-left: 12px;
    margin-right: 12px;
  }
}
