<stbui-base-layout>
    <div class="main">
        <p>Angular Ivy change detection execution: are you prepared?</p>
        <p>Let’s see what Angular cooks for us</p>
        <p>While new Ivy renderer is not feature completely yet, many people wonder how it will work and what changes it prepares
            for us.
        </p>
        <p>In this article I am going to visualize Ivy change detection mechanism, show some things I am really excited about
            and also build simple app based on instructions, similar to angular Ivy instructions, from scratch.</p>

        <p>First, let’s introduce the app I’m going to investigate here:</p>
        <p>
            <img src="https://cdn-images-1.medium.com/max/1600/1*APIvDKSWiiMY3EZlxM5epQ.png" alt="">
        </p>
        <p>I created online demo that I use to understand how it works under the hood:

        </p>
        <p> https://alexzuza.github.io/ivy-cd/ 👈</p>
        <p>
            <img src="https://cdn-images-1.medium.com/max/2000/1*3BVrVntaULzadpLVVjpEhg.gif" alt="">
        </p>

        <p>The demo uses angular 6.0.1 aot compiler. You can click on any lifecycle block to go to the definition.</p>

        <p>In order to run change detection process just type something in one of those inputs that are below Sub-Child.</p>

        https://blog.angularindepth.com/angular-ivy-change-detection-execution-are-you-prepared-ab68d4231f2c
    </div>
</stbui-base-layout>