:host {
  display: block;
  margin: 5px;
}

mat-card {
  margin: 5px;
  padding: 0;
}

mat-card-title {
  padding: 16px 24px;
}

mat-card-content {
  min-height: 400px;
}


.table {
  width: 100%;
  tr > td {
    text-align: center;
    padding: {
      top: 8px;
      bottom: 8px;
    }
  }
  a {
    color: #000;
    text-decoration: none;
  }
}

.fixedHeight {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}
.num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #26a6ff;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.progress {
  width: 100%;
  background: #f5f5f5;
  display: block;
  position: relative;
  height: 10px;
  border-radius: 10px;

  &-bar {
    position: absolute;
    left: 0;
    top: 0;
    background: #ff9f58;
    height: 10px;
    border-radius: 10px;
  }
}
