//@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';

:host {
  display: block;
  margin: 36px;
  position: relative;
}

.datatable-main {
  display: block;
  margin: 36px;
  position: relative;
}
