<div fxLayout="row" fxLayoutAlign="start center" class="table-tools">
  <span class="show-result">已选 {{ num }} 条线索</span>
  <button md-raised-button class="table-tools-btn"><md-icon>reply</md-icon><span>转移</span></button>
  <button md-raised-button class="table-tools-btn"><md-icon>edit</md-icon><span>编辑</span></button>
  <button md-raised-button class="table-tools-btn" (click)="onDelete()"><md-icon>delete</md-icon><span>删除</span></button>
  <span fxFlex></span>
</div>

<div fxLayout="column" class="table-lists">

</div>

