<div fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex>
    <md-card-title>Basic Form</md-card-title>
    <md-card-content>
      <form fxLayout="column">
        <md-input-container>
          <input mdInput placeholder="请输入您的邮箱">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="请输入您的密码">
        </md-input-container>
        <md-checkbox>记住我</md-checkbox>
        <button md-raised-button color="primary" type="submit">提交</button>
      </form>
    </md-card-content>
  </md-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex>
    <md-card-title>Inline form</md-card-title>
    <md-card-content>
      <form>
        <md-input-container>
          <input mdInput placeholder="请输入您的邮箱">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="请输入您的密码">
        </md-input-container>
        <md-checkbox>记住我</md-checkbox>
        <button md-raised-button color="primary" type="submit">提交</button>
      </form>
    </md-card-content>
  </md-card>
</div>
