.mail-detail {
  padding: 24px 32px;

  .mail-header {

    .avatar {
      height: 45px;
      width: 45px;
      margin-right: 20px;
    }

    .from {
      font-weight: 500;
      font-size: 15px;
    }

    .to {
      color: #999;
      font-size: 15px;
      margin-top: 2px;
      font-weight: 500;

      mat-icon {
        height: 16px;
        width: 16px;
        font-size: 16px;
        vertical-align: middle;
      }
    }

    .mail-extra {
      color: #999;
      font-size: 15px;
      font-weight: 500;

      .when {
        vertical-align: middle;
      }

      .options {
        vertical-align: middle;
        margin-left: 16px;
      }
    }
  }

  .mail-subject {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .mail-content {
    margin-top: 32px;
    margin-bottom: 240px;

    .mail-content-text {

    }
  }

  .attachments-container {
    .attachments-header {
      color: #999;

      .title {
        font-size: 13px;
        font-weight: 500;
        margin-right: 24px;
      }

      .download {
        margin-left: 24px;
      }
    }

    .attachments {
      margin-top: 12px;
      margin-bottom: 12px;

      .attachment {
        margin-right: 12px;

        img {
          max-height: 140px;
          max-width: 80px;
        }
      }
    }
  }

  .respond {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px 32px;
    border-top: 1px solid #EEE;
    cursor: pointer;

    .avatar {
      margin-right: 28px;
    }

    .click-reply {
      color: #999;

      .semi-bold {
        font-weight: 500;
      }
    }

    .reply {
      color: #2B303B;
      margin-right: 24px;
    }

    .respond-buttons {
      margin-top: 12px;

      mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
        margin-left: 6px;
      }

      button {
        margin-left: 12px;
      }
    }
  }
}
