<div class="mail-list">
  <a
    class="mail"
    #mailList
    fxLayout="row"
    fxLayoutAlign="space-between center"
    (click)="onOpenMailDetialTriggered(mail)"
    *ngFor="let mail of mails"
  >
    <div class="start-wrapper">
      <mat-checkbox
        class="checkbox"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
      <button [fxHide]="true" [fxHide.gt-sm]="false" mat-icon-button>
        <mat-icon
          class="star"
          *ngIf="!mail.starred"
          (click)="$event.stopPropagation()"
          >star_border</mat-icon
        >
        <mat-icon
          class="star active"
          *ngIf="mail.starred"
          (click)="$event.stopPropagation()"
          >star</mat-icon
        >
      </button>

      <span class="from-name">{{ mail.from.name }}</span>
    </div>
    <p class="content-wrapper">
      <span class="subject" fxFlex>{{ mail.subject }}</span>
    </p>
    <div class="end-wrapper">
      <span class="when">{{ mail.when }}</span>
    </div>
  </a>
</div>

<div
  class="no-mails-container"
  fxLayout="column"
  fxLayoutAlign="start center"
  *ngIf="mails?.length == 0"
>
  <span class="no-mails">没有邮件</span>
</div>

<mat-menu #mailOptions="matMenu">
  <button mat-menu-item><mat-icon>markunread_mailbox</mat-icon>标记未读</button>
  <button mat-menu-item><mat-icon>label</mat-icon> 标签</button>
  <mat-divider></mat-divider>
  <button mat-menu-item><mat-icon>delete</mat-icon> 删除</button>
</mat-menu>
