$color__inactive: #616161;
$color__primary: #3f51b5;
$color__read: #9f9f9f;

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-select {
  width: 24px;
}
.mat-column-star {
  width: 40px;
  text-align: center;
}
.mat-column-name {
  max-width: 120px;
  padding-left: 12px;
}
.mat-column-when {
  width: 110px;
  text-align: right;
}

.no-mails {
  margin-top: 16px;
  font-size: 18px;
}
