<div class="toolbar-notification-container">
  <button md-icon-button (click)="toggleDropdown()" [ngClass]="[cssPrefix+'-btn']" [class.open]="isOpen">
    <md-icon>notifications_none</md-icon>
    <span class="badge">{{ notifications?.length }}</span>
  </button>

  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="card">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
          <div class="name">通知</div>
          <div class="extra">您有 {{ notifications?.length }} 条新的通知</div>
        </div>
        <button type="button" md-icon-button>
          <md-icon class="icon">settings</md-icon>
        </button>
      </div>
      <perfect-scrollbar class="content">
        <div *ngFor="let notification of notifications; last as isLast">
          <div class="notification" fxLayout="row" fxLayoutAlign="start center" md-ripple>
            <md-icon class="icon">notifications</md-icon>
            <div class="title" fxLayout="column">
              <div class="name">{{ notification.title }}</div>
              <div class="time">{{ notification.lastTime }}</div>
            </div>
            <span fxFlex></span>
            <button type="button" md-icon-button (click)="delete(notification)">
              <md-icon class="close">close</md-icon>
            </button>
          </div>
          <div class="divider" *ngIf="!isLast"></div>
        </div>
      </perfect-scrollbar>
      <div class="footer" fxLayout="row" fxLayoutAlign="center center">
        <div class="action">查看所以通知</div>
      </div>
    </div>
  </div>
</div>
