<div fxLayout="row">
  <mat-card fxFlex.gt-xs="33" fxFlex="100">
    <mat-card-title>Angular 4.0.0 正式版发布</mat-card-title>
    <mat-card-subtitle>Angular 4.0.0 正式版发布；Google Chrome 悄悄升级 WebGL 2.0 标准</mat-card-subtitle>
    <mat-card-content>
      <p>经历了 6 个 RC 版本之后，Angular 项目组终于发布了正式版 Angular 4.0.0。值得关注的点有：</p>
      <p>速度更快、体积更小：除了速度更快、体积更小，该版本还对内置指令 NgFor 和 NgIf 以及模板的 source map 等功能进行了优化</p>
      <p>向后兼容：该版本向后兼容大多数应用中的 2.x.x 系列</p>
      <p>强力优化代码：新版优化了 View 引擎，改进后 AoT 生成的代码将减少约 60%，而且模板越复杂，所优化的代码量就越大</p>
      <p>动画部分单独打包：Angular 将动画部分从 @angular/core 拆分出来，单独打包。将核心模块精简后，在不使用动画时产品中将不包含冗余的动画代码。如需要动画，可使用相关功能自行导入</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="33" fxFlex="100">
    <img mat-card-image src="assets/images-demo/assets/1200x600.jpg">
    <mat-card-content>
      <p>
        本周热门软件更新 — WebStorm 2017.1 发布：增加对 Vue.js 和 Jest 的支持；Egg.js 1.0.0 正式发布，阿里开源的企业级 Node.js 框架；GitLab 9.0
        发布，次级群组与部署面板功能上线；Ubuntu 17.04 Beta 2 发布，现可下载
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex.gt-xs="33" fxFlex="100">
    <mat-card-title>WebStorm 2017.1 发布</mat-card-title>
    <mat-card-subtitle>WebStorm 2017.1 发布：增加对 Vue.js 和 Jest 的支持</mat-card-subtitle>
    <mat-card-content>
      <p>这是今年的第一个大更新！增加了对 Vue.js 和 Jest 等令人兴奋的技术支持，为代码风格带来了更多的灵活性，改进了对 React 和 Angular 的支持等等。</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>取消</button>
      <button color="primary" mat-raised-button>查看</button>
    </mat-card-actions>
  </mat-card>
</div>

<div fxLayout="row">
  <mat-card fxFlex.gt-xs="33" fxFlex="100">
    <mat-card-title>Angular 5 已在路上，承诺会比 Angular 4 更快更小</mat-card-title>
    <mat-card-content>
      <p>Angular 4.3 已于 7 月 14 日发布，离 Angular 5 又近了一步。在今年的 ng-conf 大会上，我们发现 Angular 5 将主打三个方面：简单、速度和大小，以及平滑的更新。</p>
      <p>Angular 4 最大的优点之一是它更小了，也更快了，要知道它的目标是在多数情况下将生成的用户组件代码的大小减少大约 60％ 。</p>
      <p>据外媒报道，Minar 曾承诺 Angular 5 会比 Angular 4 更小更快，应用程序的编译会更简单，版本的更新也会更顺利。之前一直困扰用户的 “Just-in-Time” 和 “Ahead-of-Time ”
        也会得到解决，为了减少差异，“Ahead-of-Time ” 将会被设置为默认编译器。</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>取消</button>
      <button color="primary" mat-raised-button>查看</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex.gt-xs="33" fxFlex="100">
    <mat-card-title>Ionic 3.6.0 发布，HTML5 移动应用框架</mat-card-title>
    <mat-card-content>
      <p>Ionic 3.6.0 已发布，Ionic Framework 是一个高级的 HTML5 移动端应用框架，也是一个很漂亮的使用 HTML5 开发混合移动应用的前端框架。</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="33" fxFlex="100">
    <mat-card-title>强大的 Angular UI 组件库 PrimeNG</mat-card-title>
    <mat-card-content>
      <p>PrimeNG 是一个极为完善的开源 Angular UI 组件库。</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
