<div class="action">
    <button mat-raised-button (click)="onNew($event)">
        <mat-icon>add</mat-icon> 添加</button>
    <button mat-raised-button>
        <mat-icon>edit</mat-icon> 编辑</button>
    <button mat-raised-button>
        <mat-icon>delete</mat-icon> 删除</button>
</div>

<ngx-datatable *ngIf="rows?.length" class="material" [rows]="rows" [selectionType]="'checkbox'" [loadingIndicator]="loadingIndicator"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" (select)='onSelect($event)'
    [selected]="selected" [reorderable]="reorderable" [scrollbarH]="true">
    <ngx-datatable-column [width]="60" [canAutoResize]="false" [resizeable]="false" [frozenLeft]="true">
        <ng-template ngx-datatable-header-template>
            <mat-checkbox [(ngModel)]="a" value="" color="primary"></mat-checkbox>
        </ng-template>
        <ng-template ngx-datatable-cell-template>
            <mat-checkbox value="" color="primary"></mat-checkbox>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="姓名" prop="name" [width]="100" [canAutoResize]="false" [frozenLeft]="true"></ngx-datatable-column>
    <ngx-datatable-column name="公司名称" prop="company"></ngx-datatable-column>
    <ngx-datatable-column name="电话" prop="tel"></ngx-datatable-column>
    <ngx-datatable-column name="手机" prop="phone"></ngx-datatable-column>
    <ngx-datatable-column name="跟进状态" prop="status_mapped"></ngx-datatable-column>
    <ngx-datatable-column name="最新跟进记录" prop="lastest_revisit_log"></ngx-datatable-column>
    <ngx-datatable-column name="实际跟进时间" prop="real_revisit_at"></ngx-datatable-column>
    <ngx-datatable-column name="下次跟进时间" prop="revisit_remind_at"></ngx-datatable-column>
</ngx-datatable>