$height__chat-header: 150px;
$height__chat-toolbar: 64px;
$height__chat-container: calc(100% - #{$height__chat-header - $height__chat-toolbar});


.chat-inner-container {
  height: 100%;

  .chat-content {
    position: relative;
    background: url('/assets/img/backgrounds/arch-pattern.png') repeat;
    height: calc(100% - #{$height__chat-toolbar + 1});

    perfect-scrollbar {
      margin-bottom: 103px;
    }

    .messages-container {
      padding: 24px;

      .chat-message {
        margin: 24px 0;

        .message {
          padding: 8px;
          position: relative;
          box-shadow: 0 0px 0px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        }

        .partner {
          .message {
            background: white;
            margin-left: 12px;

            &:after {
              position: absolute;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0px 10px 10px 0;
              border-color: transparent #fff transparent transparent;
              top: 0;
              left: -10px;
            }
          }
        }

        .me {
          .message {
            background: #E1FFC7;
            margin-right: 12px;

            &:after {
              position: absolute;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0px 0 10px 10px;
              border-color: transparent transparent transparent #e1ffc7;
              top: 0;
              right: -10px;
            }
          }
        }
      }
    }

    .chat-respond {
      background: white;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 12px 24px;
      border-top: 1px solid #EEE;

      textarea {
        resize: none;
      }

      button {
        margin-left: 24px;
      }
    }
  }
}


md-toolbar {
  border-bottom: 1px solid #EEE;

  .toolbar {
    width: 100%;
  }

  .current-contact {
    .avatar {
      margin: 0 14px 0 10px;
    }

    .name {
      font-size: 18px;
      font-weight: 500;
    }

    .status {
      font-size: 14px;
      color: #888;
    }
  }
}
