
.profile {
}

.profile-image {
  background: linear-gradient(90deg,#00d9bf,#00d977);
  height: 180px;
}
.profile-image-avatar {
  margin-top: -80px;
  margin-bottom: 20px;

  > .avatar {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}

.full-width {
  width: 100%;
}
