.mail-list {
  overflow: hidden;
}

.compose-container {
  align-items: center;
  display: flex;
  height: 48px;
  margin: 16px 0;
  padding: 0 0 0 16px;
}

.compose {
  display: inline-flex;
  align-items: center;
  height: 48px;
  min-width: 56px;
  padding: 0 24px 0 0;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: 0.25px;
  background-color: #fff;
  background-image: none;
  color: #3c4043;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);

  user-select: none;

  &::before {
    background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 48px;
    min-width: 56px;
  }
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .compose {
    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
      background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/2x/create_32dp.png);
    }
  }
}

mat-nav-list {
  mat-list-item {
    border-radius: 0 48px 48px 0;
  }
  .active {
    background-color: #fce8e6;
    color: #d93025;
    font-weight: 700;
  }
}
