<mat-toolbar class="mat-elevation-z1" style="background-color:#fff">
  <mat-toolbar-row>
    <a href="/" class="header-brand" fxFlex="248px">Mail</a>
    <div fxFlex="auto"><stbui-search placeholder="搜索..."></stbui-search></div>
    <div class="header-setting">
      <button mat-icon-button><mat-icon>apps</mat-icon></button>
      <button mat-icon-button><mat-icon>notifications</mat-icon></button>
    </div></mat-toolbar-row
  >
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="start start">
  <div class="sidenav" fxFlex="256px">
    <div class="compose-container">
      <div class="compose" matRipple (click)="openComposeDialog()">写邮件</div>
    </div>

    <div class="nav-list">
      <mat-nav-list>
        <mat-list-item class="active">
          <mat-icon class="nav-list-icon">mail</mat-icon> <span>收件箱</span
          ><span fxFlex></span> <span>14</span></mat-list-item
        >
        <mat-list-item>
          <mat-icon class="nav-list-icon">start</mat-icon>
          <span>已加星标</span><span fxFlex></span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon class="nav-list-icon">query_builder</mat-icon>
          <span>已延后</span><span fxFlex></span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">label_important</mat-icon>
          <span>重要邮件</span><span fxFlex></span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">send</mat-icon>
          <span>已发邮件</span><span fxFlex></span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon class="nav-list-icon">insert_drive_file</mat-icon>
          <span>草稿</span><span fxFlex></span>
        </mat-list-item>
      </mat-nav-list>

      <mat-nav-list>
        <mat-list-item>
          <mat-icon class="nav-list-icon">mail</mat-icon>
          <span>所有邮件</span>
        </mat-list-item>

        <mat-list-item>
          <mat-icon class="nav-list-icon">error</mat-icon>
          <span>垃圾邮件</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">delete</mat-icon>
          <span>已删除邮件</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">start</mat-icon>
          <span>Receipts</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">label</mat-icon>
          <span>Work</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">label</mat-icon>
          <span>管理标签</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="nav-list-icon">settings</mat-icon>
          <span>创建新标签</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

  <div class="mail-list" fxFlex>
    <app-mail-toolbar
      [mail]="shownMailDetail"
      [itemCount]="shownMails.length"
      (onForward)="onForward($event)"
    ></app-mail-toolbar>

    <app-mail-list
      *ngIf="!shownMailDetail"
      [mails]="shownMails | async"
      (onOpenMailDetial)="openMailDetial($event)"
    ></app-mail-list>

    <app-mail-detail
      *ngIf="shownMailDetail"
      [mail]="shownMailDetail"
    ></app-mail-detail>
  </div>
</div>
