<table class="table" [class.table-hover]="disabledHover" [class.table-striped]="stripe" [class.table-condensed]="tableCondensed" [class.table-bordered]="border">
  <thead>
  <tr>
    <th></th>
    <th>APP</th>
    <th>领域</th>
    <th>开发商</th>
    <th>活跃人数(万)</th>
    <th>环比增幅(%)</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows">
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>{{ row.activeNums }}</td>
    <td>{{ row.activeNumsRatio }}</td>
  </tr>
  </tbody>
</table>
