.collection-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-content {
    padding: 24px;
  }
}

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.chart-container {
  min-height: 400px;
}
