<div class="main-static">
  <md-card>
    <md-card-title>Base Table</md-card-title>
    <md-card-content>
      <stbui-table [columns]="data.columns" [data]="data.data"></stbui-table>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Hover Table</md-card-title>
    <md-card-content>
      <stbui-table height="500" [columns]="data.columns" [data]="data.data"></stbui-table>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Striped Table</md-card-title>
    <md-card-content>
      <stbui-table height="500" stripe="true" [columns]="data.columns" [data]="data.data"></stbui-table>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Bordered Table</md-card-title>
    <md-card-content>
      <stbui-table height="500" border="true" [columns]="data.columns" [data]="data.data"></stbui-table>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>All Table</md-card-title>
    <md-card-content>
      <stbui-table height="500" stripe="true" border="true" [columns]="data.columns" [data]="data.data"></stbui-table>
    </md-card-content>
  </md-card>

</div>
