:host {
  display: block;
  margin: 36px;
  position: relative;
}

.main-static {
  mat-card {
    margin: 15px;
  }
}

.avatar-cell {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
