:host {
  display: block;
  margin: 36px;
  position: relative;
}

.main-static {
  md-card {
    margin: 15px;
  }
}

.avatar-cell {
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}



.repeater-viewport {
  position: relative;
  overflow: hidden;
}
.repeater-list-wrapper {
  height: 100%;
  overflow: auto;
}
.repeater-canvas{
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.repeater-canvas.scrolling {
  overflow: visible;
}
.repeater-canvas.scrolling .repeater-list {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

table {
  margin-bottom: 0;
  width: 100%;
}
.repeater-canvas .repeater-list table thead > tr > th {
  background: #fafafa;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid transparent;
  border-top: none;
  color: rgba(0, 0, 0, 0);
  line-height: 1.42857;
  padding: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.repeater-canvas .repeater-list-heading {
  background: #fafafa;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-top: none;
  color: #333333;
  line-height: 1.42857;
  margin-left: -9px;
  padding: 8px;
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
