
.todo {
  &-wrap {
    border: 1px solid rgba(0, 0, 0, .12);
    margin-right: 1px;
    background: #fff;

    mat-list {
      padding: 0;
    }

    mat-list-item {
      border-bottom: 1px solid rgba(0, 0, 0, .12);

      &:last-child {
        border: 0;
      }
    }
  }

  &-list {

  }

  &-list-item {
    position: relative;
  }
}
