:host {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  padding: 10px 15px;
  background: #fff;
  z-index: 10;

  visibility: hidden;
  transform: translateX(110%);
  transition: transform .4s cubic-bezier(.25, .8, .25, 1), visibility .4s cubic-bezier(.25, .8, .25, 1);

  &.open {
    transform: translateY(0);
    visibility: visible;
  }
}