<mat-card>
  <mat-card-title>1行 Lists</mat-card-title>
  <mat-card-content>
    <mat-list class="list-ripple mat-elevation-z2">
      <mat-list-item mat-ripple>
        <h3 mat-line>滚动头条</h3>
      </mat-list-item>
      <mat-list-item mat-ripple>
        <h3 mat-line>读心方程式</h3>
      </mat-list-item>
      <mat-list-item mat-ripple>
        <h3 mat-line>话说天下事</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>1行 Lists</mat-card-title>
  <mat-card-content>
    <mat-list class="mat-elevation-z2">
      <mat-list-item>
        <h3 mat-line>滚动头条</h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>读心方程式</h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>话说天下事</h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>2行 Lists</mat-card-title>
  <mat-card-content>
    <mat-list class="mat-elevation-z2">
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/1.jpg">
        <h3 mat-line>滚动头条</h3>
        <p mat-line>
          <span>热点君</span>
          <span class="subline">-- 每时每刻滚动更新，轻松纵览天下头条！</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/2.jpg">
        <h3 mat-line>读心方程式</h3>
        <p mat-line>
          <span>东广新闻台</span>
          <span class="subline">-- 生活中的心理学，新闻里的小科学，读心方程式，解开你的疑惑。我们不喝鸡汤，只聊干货！节目来源上海东广新闻台《新闻实验室》栏目。</span>
        </p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/3.jpg">
        <h3 mat-line>话说天下事</h3>
        <p mat-line>
          <span>天津</span>
          <span class="subline">-- 天津人民广播电台新闻台《话说天下事》节目，充分利用新闻台讯信资源的强势，快速点击、精辟分析国际焦点、热点问题、广罗各类新闻。天津味儿的不止有相声，还有《话说天下事》！</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>3行 Lists</mat-card-title>
  <mat-card-content>
    <mat-list class="mat-elevation-z2">
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/1.jpg">
        <h3 mat-line>滚动头条</h3>
        <p mat-line>热点君</p>
        <p mat-line class="subline">-- 每时每刻滚动更新，轻松纵览天下头条！</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/2.jpg">
        <h3 mat-line>读心方程式</h3>
        <p mat-line>东广新闻台</p>
        <p mat-line class="subline">
          -- 生活中的心理学，新闻里的小科学，读心方程式，解开你的疑惑。我们不喝鸡汤，只聊干货！节目来源上海东广新闻台《新闻实验室》栏目。
        </p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/avatars/3.jpg">
        <h3 mat-line>话说天下事</h3>
        <p mat-line>天津</p>
        <p mat-line class="subline">
          -- 天津人民广播电台新闻台《话说天下事》节目，充分利用新闻台讯信资源的强势，快速点击、精辟分析国际焦点、热点问题、广罗各类新闻。天津味儿的不止有相声，还有《话说天下事》！
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
