<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <h2 class="article-title">Material Buttons</h2>
    <div class="row">
      <div class="col-xl-5">
        <div class="box box-default">
          <div class="box-header">Raised</div>
          <div class="box-body text-center">
            <button md-button>Flat button</button>
            <button md-raised-button>Raised button</button>
            <button md-fab><md-icon>check</md-icon></button>
            <button md-mini-fab><md-icon>check</md-icon></button>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-5">

          <div class="box box-default">
            <div class="box-header">FAB</div>
            <div class="box-body text-center">

            </div>
          </div>

        </div>
        <div class="col-xl-5">

          <div class="box box-default">
            <div class="box-header">Icon Button</div>
            <div class="box-body text-center">



            </div>
          </div>

        </div>

      </div>

    </div>
  </article>

</section>



