<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <h2 class="article-title">Material Buttons</h2>
    <div class="row">
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">Raised</div>
          <div class="box-body text-center">
            <button md-raised-button color="default">Default</button><div class="divider divider-xs"></div>
            <button md-raised-button color="primary">Primary</button><div class="divider divider-xs"></div>
            <button md-raised-button color="accent">Accent</button><div class="divider divider-xs"></div>
            <button md-raised-button color="warn">Warn</button><div class="divider divider-xs"></div>
            <button md-raised-button color="primary" ng-href="http://google.com" target="_blank">Link Button</button><div class="divider divider-xs"></div>
            <button md-raised-button disabled>Disabled</button><div class="divider divider-xs"></div>
          </div>
        </div>

      </div>
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">Flat</div>
          <div class="box-body text-center">
            <button md-button>Default</button><div class="divider divider-xs"></div>
            <button md-button color="primary">Primary</button><div class="divider divider-xs"></div>
            <button md-button color="accent">Accent</button><div class="divider divider-xs"></div>
            <button md-button color="warn">Warn</button><div class="divider divider-xs"></div>
            <button md-button ng-href="http://google.com" target="_blank">Link Button</button><div class="divider divider-xs"></div>
            <button md-button disabled>Disabled</button><div class="divider divider-xs"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">FAB</div>
          <div class="box-body text-center">
            <button md-fab><md-icon>cake</md-icon></button>
            <button md-mini-fab><md-icon>cake</md-icon></button>
            <button md-fab color="primary"><md-icon>android</md-icon></button>
            <button md-fab color="primary"><md-icon>people</md-icon></button>
            <button md-fab><md-icon>comment</md-icon></button>
          </div>
        </div>

      </div>
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">Icon Button</div>
          <div class="box-body text-center">
            <button md-icon-button><md-icon>menu</md-icon></button>
            <button md-icon-button><md-icon>favorite</md-icon></button>
            <button md-icon-button><md-icon>more_vert</md-icon></button>
          </div>
        </div>

      </div>

    </div>

  </article>


  <article class="article">
    <h2 class="article-title">Button Variables</h2>

    <div class="row">
      <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header">Width</div>
          <div class="box-body text-center">
            <button class="md-raised btn-w-sm md-primary" md-raised-button>xs</button><div class="divider divider-xs"></div>
            <button class="md-raised btn-w-sm md-primary">small</button><div class="divider divider-xs"></div>
            <button class="md-raised btn-w-md md-accent">middle</button><div class="divider divider-xs"></div>
            <button class="md-raised btn-w-lg md-accent">large</button><div class="divider divider-xs"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header">Sizes</div>
          <div class="box-body text-center">
            <button class="md-raised btn-sm md-primary">Small Button</button><div class="divider divider-xs"></div>
            <button class="md-raised md-accent">Default button</button><div class="divider divider-xs"></div>
            <button class="md-raised btn-lg md-accent">Large button</button><div class="divider divider-xs"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header">FAB</div>
          <div class="box-body text-center">
            <p>
              <button class="md-fab" aria-label="Eat cake">
                <md-icon class="material-icons">cake</md-icon>
              </button>
              <button class="md-fab md-mini" aria-label="Eat cake">
                <md-icon class="material-icons">cake</md-icon>
              </button>
            </p>
            <div class="divider"></div>
            <p>
              <button class="md-fab md-primary md-mini" aria-label="more_vert">
                <md-icon class="material-icons">more_vert</md-icon>
              </button>
              <button class="md-fab md-primary" aria-label="more_vert">
                <md-icon class="material-icons">more_vert</md-icon>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header">Colors</div>
          <div class="box-body text-center">
            <button class="md-raised btn-w-lg md-primary md-hue-2">Primary Hue 2</button><div class="divider divider-xs"></div>
            <button class="md-raised btn-w-lg md-primary md-hue-4">Primary Hue 4</button><div class="divider divider-xs"></div>
            <button class="md-warn btn-w-lg md-raised md-hue-2">Warn Hue 2</button><div class="divider divider-xs"></div>
            <button class="md-raised btn-w-lg md-accent md-hue-1">Accent Hue 1</button><div class="divider divider-xs"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="box box-default">
          <div class="box-header">Social icons</div>
          <div class="box-body text-center">
            <p>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-google-plus"><i class="fa fa-google"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
            </p>
            <p>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
            </p>
            <div class="divider divider-xs"></div>
            <p>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-facebook"><i class="fa fa-facebook"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-google-plus"><i class="fa fa-google"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram"><i class="fa fa-instagram"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-rss"><i class="fa fa-rss"></i></a>
            </p>
            <p>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-tumblr"><i class="fa fa-tumblr"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-youtube"><i class="fa fa-youtube"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-github"><i class="fa fa-github"></i></a>
              <a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-skype"><i class="fa fa-skype"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </article>

</section>
