<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <h2 class="article-title">Material Buttons</h2>
    <div class="row">
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">Raised</div>
          <div class="box-body text-center">
            <button md-raised-button color="default">Default</button><div class="divider divider-xs"></div>
            <button md-raised-button color="primary">Primary</button><div class="divider divider-xs"></div>
            <button md-raised-button color="accent">Accent</button><div class="divider divider-xs"></div>
            <button md-raised-button color="warn">Warn</button><div class="divider divider-xs"></div>
            <button md-raised-button color="primary" ng-href="http://google.com" target="_blank">Link Button</button><div class="divider divider-xs"></div>
            <button md-raised-button disabled>Disabled</button><div class="divider divider-xs"></div>
          </div>
        </div>

      </div>
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">Flat</div>
          <div class="box-body text-center">
            <button md-button>Default</button><div class="divider divider-xs"></div>
            <button md-button color="primary">Primary</button><div class="divider divider-xs"></div>
            <button md-button color="accent">Accent</button><div class="divider divider-xs"></div>
            <button md-button color="warn">Warn</button><div class="divider divider-xs"></div>
            <button md-button ng-href="http://google.com" target="_blank">Link Button</button><div class="divider divider-xs"></div>
            <button md-button disabled>Disabled</button><div class="divider divider-xs"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">FAB</div>
          <div class="box-body text-center">
            <button md-fab><md-icon>cake</md-icon></button>
            <button md-mini-fab><md-icon>cake</md-icon></button>
            <button md-fab color="primary"><md-icon>android</md-icon></button>
            <button md-fab color="primary"><md-icon>people</md-icon></button>
            <button md-fab><md-icon>comment</md-icon></button>
          </div>
        </div>

      </div>
      <div class="col-xl-5">

        <div class="box box-default">
          <div class="box-header">Icon Button</div>
          <div class="box-body text-center">
            <button md-icon-button><md-icon>menu</md-icon></button>
            <button md-icon-button><md-icon>favorite</md-icon></button>
            <button md-icon-button><md-icon>more_vert</md-icon></button>
          </div>
        </div>

      </div>

    </div>

  </article>

</section>
