<div class="contacts-contanier">

  <md-toolbar>
    <div class="toolbar" fxLayout="row">
      <button md-icon-button>
        <md-icon>menu</md-icon>
      </button>

      <div class="current-contact" fxLayout="row" fxLayoutAlign="start center">
        <img class="avatar pointer">

        <div fxLayout="column">
          <span class="name">name</span>
          <span class="status">Online</span>
        </div>
      </div>

      <span fxFlex></span>

      <button md-icon-button>
        <md-icon>attach_file</md-icon>
      </button>

      <button md-icon-button [mdMenuTriggerFor]="chatMenu">
        <md-icon>more_vert</md-icon>
      </button>
    </div>
  </md-toolbar>

  <div class="start-point" fxLayout="column" fxLayoutAlign="center center">
    <div class="big-circle mat-elevation-z4">
      <md-icon class="s128 mat-accent">face</md-icon>
    </div>
    <span class="app-title" translate="CHAT.APP_TITLE">Chat App</span>
    <span class="hide show-gt-md secondary-text">Select contact to start the chat!..</span>
  </div>

</div>


<md-menu #chatMenu="mdMenu">
  <button md-menu-item>
    <md-icon> account_circle </md-icon>
    <span> Contact Info </span>
  </button>
  <button md-menu-item>
    <md-icon> volume_mute </md-icon>
    <span> Mute Chat </span>
  </button>
  <md-divider></md-divider>
  <button md-menu-item>
    <md-icon> clear_all </md-icon>
    <span> Clear Messages </span>
  </button>
</md-menu>
