@import '~@angular/material/theming';
@import '../all-theme';

@include mat-core();

$primary: mat-palette($mat-purple, 700, 500, 800);
$accent: mat-palette($mat-green, A200, A100, A400);
$warn: mat-palette($mat-red, 600);

$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include stbui-theme($theme);
