<mat-card>
  <mat-card-title>Date Pick 日期选择器</mat-card-title>
  <mat-card-subtitle>默认</mat-card-subtitle>
  <mat-card-content>
    <stbui-date-picker></stbui-date-picker>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Date Pick 日期选择器</mat-card-title>
  <mat-card-subtitle>显示方式</mat-card-subtitle>
  <mat-card-content>
    <stbui-date-picker mode="landscape"></stbui-date-picker>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>Date Pick 日期选择器</mat-card-title>
  <mat-card-subtitle>事件</mat-card-subtitle>
  <mat-card-content>
    <stbui-date-picker action="true" (onConfirm)="onConfirm($event)" (selectValueChange)="onSelectValueChange($event)"></stbui-date-picker>
    <p>{{result}}</p>
  </mat-card-content>
</mat-card>
