$notification-min-width: 300px !default;
$notification-color: #fff !default;

.notification {
  min-width: 300px;
  color: #fff;
  font-weight: 700;

  &-title {
    display: flex;
    align-items: center;
    color: #fff;
  }

  &-content {
    color: #fff;
  }

}
