<div class="toolbar-user-container">
  <button md-button (click)="toggleDropdown()" class="toolbar-user-btn" [class.open]="isOpen">
  <span fxLayout="row" fxLayoutAlign="start center">
    <img class="avatar" src="assets/images/avatars/noavatar.png">
    <span class="name" fxHide fxShow.gt-sm>stbui</span>
    <md-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</md-icon>
  </span>
  </button>

  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="content">
      <div class="list">
        <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple>
          <md-icon class="icon">account_circle</md-icon>
          <span class="title">个人</span>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple>
          <md-icon class="icon">settings</md-icon>
          <span class="title">设置</span>
        </div>
        <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple>
          <md-icon class="icon">help</md-icon>
          <span class="title">帮助</span>
        </div>
        <md-divider></md-divider>
        <div class="item" fxLayout="row" fxLayoutAlign="start center" md-ripple>
          <md-icon class="icon">exit_to_app</md-icon>
          <span class="title">退出</span>
        </div>
      </div>
    </div>
  </div>

</div>
