<h2 mat-dialog-title>添加</h2>
<mat-dialog-content>
  <form>
    <mat-form-field class="display-block">
      <input
        type="email"
        id="email"
        class="input"
        placeholder="请输入您的应用名称"
        required
        matInput
      />
    </mat-form-field>

    <mat-form-field class="display-block">
      <input
        type="text"
        id="password"
        class="input"
        placeholder="嵌入代码"
        required
        matInput
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>保存</button>
</mat-dialog-actions>
