<aside><app-sidebar [theme]="theme"></app-sidebar></aside>

<section id="page-container" class="app-page-container">
  <app-header [theme]="theme"></app-header>

  <div class="app-content-wrapper">
    <div class="app-content">
      <section>
        <app-sidebar-right></app-sidebar-right>
      </section>

      <router-outlet></router-outlet>
    </div>

    <section>
      <app-footer></app-footer>
    </section>
  </div>

</section>

<aside><app-customizer (themeChanges)="onThemeChanges($event)"></app-customizer></aside>



