<nav class="app-sidebar bg-dark">
  <section class="sidebar-header" [ngClass]="setTheme()">
    <md-icon class="logo-icon material-icons">view_compact</md-icon>
    <a href="/" class="brand">stbui</a>
    <a class="collapsednav-toggler"><i class="material-icons">radio_button_checked</i></a>
  </section>

  <section class="sidebar-content">
    <ul class="nav">
      <li class="nav-header"><span data-translate="NAVIGATION">Navigation</span></li>
      <!--<li><a md-button aria-label="menu" routerLink="buttons"><i class="nav-icon material-icons">home</i><span class="nav-text" data-translate="DASHBOARD">buttons</span></a></li>-->
      <!--<li><a md-button aria-label="menu" routerLink="cards"><i class="nav-icon material-icons">home</i><span class="nav-text" data-translate="DASHBOARD">cards</span></a></li>-->
      <!--<li><a md-button aria-label="menu" routerLink="about"><i class="nav-icon material-icons">home</i><span class="nav-text" data-translate="DASHBOARD">about</span></a></li>-->
      <!--<li><a md-button aria-label="menu" routerLink="services"><i class="nav-icon material-icons">home</i><span class="nav-text" data-translate="DASHBOARD">services</span></a></li>-->

      <li>
        <a md-button routerLink="dashboard">
          <md-icon class="nav-icon material-icons">home</md-icon>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>

      <li>
        <a md-button routerLink="dashboard" (click)="toggleQuickview()">
          <md-icon class="nav-icon material-icons">settings</md-icon>
          <span class="nav-text">Customizer</span>
        </a>
      </li>

      <li>
        <a md-button aria-label="menu">
          <md-icon class="nav-icon material-icons">bubble_chart</md-icon>
          <span class="nav-text">UI Kit</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" routerLink="buttons"><span>Buttons</span></a></li>
          <li><a class="prepend-icon" md-button><span>Icons</span><span class="badge badge-pill badge-info">3</span></a></li>
          <li><a class="prepend-icon" md-button><span>Cards</span></a></li>
          <li><a class="prepend-icon" md-button><span>Boxes</span></a></li>
          <li><a class="prepend-icon" md-button><span>Icon Boxes</span></a></li>
          <li><a class="prepend-icon" md-button><span>Components</span><span class="badge badge-pill badge-danger">14</span></a></li>
          <li><a class="prepend-icon" md-button><span>Feature Callouts</span></a></li>
         </ul>
        <i class="material-icons icon-has-ul">arrow_drop_down</i>
      </li>
      <!-- <li><a md-button aria-label="menu" href="#!/app/widget"><i class="nav-icon material-icons">widgets</i><span class="nav-text">Widgets</span></a></li> -->
      <li>
        <a md-button>
          <md-icon class="nav-icon">list</md-icon>
          <span class="nav-text" data-translate="TABLES">Tables</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/table/static"><span data-translate="STATIC_TABLES"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/table/responsive"><span data-translate="RESPONSIVE_TABLES"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/table/data"><span data-translate="DATA_TABLES"></span></a></li>
        </ul>
        <i class="material-icons icon-has-ul">arrow_drop_down</i>
      </li>
      <li>
        <a md-button>
          <!--<md-icon>format_color_text</md-icon>-->
          <md-icon class="nav-icon">format_color_text</md-icon>
          <span class="nav-text">Forms</span></a>
        <ul>
          <li>
            <a class="prepend-icon" md-button aria-label="menu" href="#!/app/form/element"><span data-translate="FORM_ELEMENTS"></span><span class="badge badge-pill badge-info">10</span></a>
            <ul>
              <li><a md-button aria-label="menu" href="#!/app/form/element/input"><span data-translate="INPUT"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/checkbox"><span data-translate="CHECKBOX"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/radio-button"><span data-translate="RADIO_BUTTON"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/switch"><span data-translate="SWITCH"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/select"><span data-translate="SELECT"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/slider"><span data-translate="SLIDER"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/autocomplete"><span data-translate="AUTOCOMPLETE"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/datepicker"><span data-translate="DATEPICKER"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/chips"><span data-translate="CHIPS"></span></a></li>
              <li><a md-button aria-label="menu" href="#!/app/form/element/elements"><span>Bootstrap <span data-translate="ELEMENTS"></span></span></a></li>
            </ul>
          </li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/form/validation"><span data-translate="FORM_VALIDATION"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/form/wizard"><span data-translate="FORM_WIZARD"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/form/editor"><span data-translate="EDITOR"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/form/layouts"><span data-translate="FORM_LAYOUTS"></span></a></li>
        </ul>
        <i class="material-icons icon-has-ul">arrow_drop_down</i>
      </li>
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">equalizer</md-icon>
          <span class="nav-text">Charts</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/line"><span><span data-translate="LINE"></span> & <span data-translate="AREA"></span></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/bar"><span data-translate="BAR"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/pie"><span data-translate="PIE"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/scatter"><span data-translate="SCATTER"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/radar"><span data-translate="RADAR"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/funnel"><span data-translate="FUNNEL"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/chart/more"><span data-translate="MORE"></span></a></li>
        </ul>
        <i class="material-icons icon-has-ul">arrow_drop_down</i>
      </li>

      <li class="nav-divider"></li>
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">content_copy</md-icon>
          <span class="nav-text">Pages</span></a>
        <ul>
          <!-- <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/gallery"><span data-translate="GALLERY"></span></a></li> -->
          <!-- <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/portfolio"><span data-translate="PORTFOLIO"></span></a></li> -->
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/about"><span data-translate="ABOUT"></span></a></li>
          <!-- <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/team"><span data-translate="TEAM"></span></a></li> -->
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/services"><span data-translate="SERVICES"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/contact"><span data-translate="CONTACT"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/careers"><span data-translate="CAREERS"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/profile"><span data-translate="PROFILE"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/blog"><span data-translate="BLOG"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/faqs"><span data-translate="FAQS"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/page/terms"><span data-translate="TERMS_OF_SERVICE"></span></a></li>
        </ul>
      </li>
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">more_horiz</md-icon>
          <span class="nav-text">Extre Pages</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/signin"><span data-translate="SIGN_IN"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/signup"><span data-translate="SIGN_UP"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/forgot-password"><span data-translate="FORGOT_PASSWORD"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/confirm-email"><span data-translate="CONFIRM_EMAIL"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/lock-screen"><span data-translate="LOCK_SCREEN"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/404"><span>404 <span data-translate="ERROR"></span></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/500"><span>500 <span data-translate="ERROR"></span></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/maintenance"><span data-translate="MAINTENANCE"></span></a></li>
        </ul>
      </li>
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">view_array</md-icon>
          <span class="nav-text">Page Layouts</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/pglayout/blank-full"><span data-translate="FULL_WIDTH"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/pglayout/blank-centered"><span data-translate="CENTERED"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/pglayout/blank-with-tabs"><span data-translate="WITH_TABS"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/blank"><span data-translate="FULL_SCREEN"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app2/pglayout/blank-full"><span><span data-translate="NO_SIDEBAR"></span> (<span data-translate="FULL_WIDTH"></span>)</span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app2/pglayout/blank-centered"><span><span data-translate="NO_SIDEBAR"></span> (<span data-translate="CENTERED"></span>)</span></a></li>
        </ul>
      </li>
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">shopping_cart</md-icon>
          <span class="nav-text">Ecommerce</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/ecommerce/products"><span data-translate="PRODUCTS"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/ecommerce/horizontal-products"><span><span data-translate="PRODUCTS"></span> (<span data-translate="HORIZONTAL"></span>)</span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/ecommerce/invoice"><span data-translate="INVOICE"></span></a></li>
        </ul>
      </li>
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">apps</md-icon>
          <span class="nav-text">Apps</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/app/calendar"><span data-translate="CALENDAR"></span></a></li>
          <li><a class="prepend-icon" md-button aria-label="menu" href="#!/app/app/task"><span data-translate="TASK"></span></a></li>
        </ul>
      </li>
      <!-- <li><a md-button aria-label="menu" href="#!/app/email/inbox" ><i class="nav-icon material-icons">mail_outline</i><span class="nav-text" data-translate="EMAIL(WIP)"></span></a></li> -->
      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">sort</md-icon>
          <span class="nav-text">Menu Levels</span></a>
        <ul>
          <li><a class="prepend-icon" md-button aria-label="menu" href="javascript:;"><span><span data-translate="LEVEL"></span> 1</span></a></li>
          <li>
            <a class="prepend-icon" md-button aria-label="menu" href="javascript:;"><span><span data-translate="LEVEL"></span> 1</span></a>
            <ul>
              <li><a md-button aria-label="menu" href="javascript:;"><span><span data-translate="LEVEL"></span> 2</span></a></li>
              <li>
                <a md-button aria-label="menu" href="javascript:;"><span><span data-translate="LEVEL"></span> 2</span></a>
                <ul>
                  <li><a md-button aria-label="menu" href="javascript:;"><span><span data-translate="LEVEL"></span> 3</span></a></li>
                  <li><a md-button aria-label="menu" href="javascript:;"><span><span data-translate="LEVEL"></span> 3</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a md-button>
          <md-icon class="nav-icon material-icons">phonelink</md-icon>
          <span class="nav-text">Loading</span></a>
      </li>
    </ul>

  </section>

  <section class="sidebar-footer">
    <ul class="nav">
      <li><a md-button aria-label="menu" target="_blank">
        <md-icon class="nav-icon material-icons">help</md-icon>
        <span class="nav-text"><span>help</span> & <span>support</span></span></a></li>
    </ul>
  </section>

</nav>
