<nav class="app-sidebar" [ngClass]="theme.slider">
  <section class="sidebar-header bg-dark" [ngClass]="theme.logo">
    <md-icon class="logo-icon material-icons">view_compact</md-icon>
    <a href="/" class="brand">{{ brand }}</a>
    <a class="collapsednav-toggler"><i class="material-icons">radio_button_checked</i></a>
  </section>

  <section class="sidebar-content">
    <ul class="nav">
      <li class="nav-header"><span>Navigation</span></li>
      <app-sidebar-menu [items]="item" *ngFor="let item of items"></app-sidebar-menu>
    </ul>
  </section>

  <section class="sidebar-footer">
    <ul class="nav">
      <li><a md-button aria-label="menu" target="_blank">
        <md-icon class="nav-icon material-icons">help</md-icon>
        <span class="nav-text"><span>help</span> & <span>support</span></span></a></li>
    </ul>
  </section>

</nav>
