:host {
  position: relative;
  width: 100%;
}

.todo-item {

}

input {
  text-align: center;
  width: 40px;
  height: auto;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}
input::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}
input:checked::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
label {
  word-break: break-all;
  line-height: 1.2;
  transition: color 0.4s;
  margin-left: 10px;
}
.labelcompleted {
  color: #d9d9d9;
  text-decoration: line-through;
}
