:host {
  display: block;
}

.brand-toolbar {
  height: 64px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  padding: 0 16px;
  width: 100%;
}

.logo-text {
  text-decoration: none;
  margin-left: 24px;
  line-height: 1;
  color: #fff;
}
