.state-widget {
  padding: 24px;

  .value {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .property {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
  }

  .icon {
    font-size: 38px;
    height: 38px;
    width: 38px;
    line-height: 38px;
    margin-top: -8px;
  }

  .percent {
    font-size: 14px;
  }

  .change-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-left: 2px;
  }
}
