<div class="state-widget mat-elevation-z2" [ngStyle]="{background: backgroundcolor, color: textcolor}">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutAlign="end">
      <div class="value">{{valueprefix}}{{value}}</div>
      <div class="property">{{property}}</div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <mat-icon class="icon icon-size-38" fxFlexAlign="end">{{icon}}</mat-icon>
      <div class="change" fxFlexAlign="end" fxlayout="row" fxLayoutAlign="end center">
        <div class="percent">{{changepercent}}%</div>
        <mat-icon class="change-icon icon-size-18">{{changeicon}}</mat-icon>
      </div>
    </div>
  </div>
</div>
