<table class="table" [ngStyle]="styleObject">
  <colgroup>
    <col *ngFor="let cellWidth of cellWidths" [width]="setCellWidth(cellWidth)">
  </colgroup>
  <tbody class="table-tbody" #tbody>
    <tr *ngFor="let d of data" [ngClass]="rowClasses(d)" (mouseenter)="handleMouseIn()" (mouseleave)="handleMouseOut()">
      <td *ngFor="let column of columns" [ngClass]="cellClasses(column)">
        <div class="stbui-table-cell">
          {{ d[column.key] }}
        </div>
      </td>
    </tr>
  </tbody>
</table>
