<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景概览</mat-card-title>
    <mat-card-content>
      <canvas baseChart height="100px"
              [datasets]="bubbleChartData"
              [labels]="bubbleChartLabels"
              [options]="bubbleChartOptions"
              [legend]="bubbleChartLegend"
              [chartType]="bubbleChartType"></canvas>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景偏好APP</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景使用分布</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景粘性</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
