<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景概览</mat-card-title>
    <mat-card-content>
      <ngx-charts-bubble-chart
        [results]="bubble"
        [legend]="showLegend"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [scheme]="colorScheme">
      </ngx-charts-bubble-chart>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景偏好APP</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景使用分布</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-title>场景粘性</mat-card-title>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
