<md-sidenav-container>

  <md-sidenav class="sidenav" align="start" mode="side" opened="true" #sidenav>
    <div class="sidenav-container" fxLayout="column">
      <app-sidebar [theme]="theme"></app-sidebar>
    </div>
  </md-sidenav>

  <app-header [theme]="theme"></app-header>

  <div class="main-container" #scrollContainer>
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

  <app-customizer (themeChanges)="onThemeChanges($event)"></app-customizer>
</md-sidenav-container>
