<div class="action">
  <button mat-raised-button (click)="onNew($event)">
    <mat-icon>add</mat-icon> 添加</button>
  <button mat-raised-button>
    <mat-icon>edit</mat-icon> 编辑</button>
  <button mat-raised-button>
    <mat-icon>delete</mat-icon> 删除</button>
</div>

<ngx-datatable class="material" [rows]="rows" [selectionType]="'checkbox'" [loadingIndicator]="loadingIndicator" [columns]="columns"
  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" (select)='onSelect($event)'
  [selected]="selected" [reorderable]="reorderable">
  <ngx-datatable-column [width]="60" [canAutoResize]="false" [resizeable]="false">
    <ng-template ngx-datatable-header-template>
      <mat-checkbox [(ngModel)]="a" value="" color="primary"></mat-checkbox>
    </ng-template>
    <ng-template ngx-datatable-cell-template>
      <mat-checkbox value="" color="primary"></mat-checkbox>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="名称" prop="name" [canAutoResize]="false"></ngx-datatable-column>
  <ngx-datatable-column name="标识" prop="apiKey" [canAutoResize]="false"></ngx-datatable-column>

  <ngx-datatable-column name="代码">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{ value.url }}/{{ value.apiKey }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>