<mat-card>
  <mat-card-title>Slider</mat-card-title>
  <mat-card-content>
    <mat-slider min="1" max="10"></mat-slider>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>带有标签和刻度 Slider</mat-card-title>
  <mat-card-content>
    <mat-slider min="1" max="10" thumbLabel tickInterval="1"></mat-slider>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>垂直 Slider</mat-card-title>
  <mat-card-content>
    <mat-slider vertical min="1" max="10" thumbLabel tickInterval="1"></mat-slider>
  </mat-card-content>
</mat-card>
