<md-card>
  <md-card-title>Slider</md-card-title>
  <md-card-content>
    <md-slider min="1" max="10"></md-slider>
  </md-card-content>
</md-card>


<md-card>
  <md-card-title>带有标签和刻度 Slider</md-card-title>
  <md-card-content>
    <md-slider min="1" max="10" thumbLabel tickInterval="1"></md-slider>
  </md-card-content>
</md-card>


<md-card>
  <md-card-title>垂直 Slider</md-card-title>
  <md-card-content>
    <md-slider vertical min="1" max="10" thumbLabel tickInterval="1"></md-slider>
  </md-card-content>
</md-card>
