
.sidenav-anchor {
  position: relative;
  cursor: pointer;
  transition: color .1s;
}

md-nav-list a.sidenav-anchor {
  .sidenav-item-name {
    font-size: 14px;
    margin-left: 24px;
  }
}

.sidenav-list {
  transition: height .4s cubic-bezier(.35, 0, .25, 1);
  overflow: hidden;

  sidenav-item {
    &.open {
      > .sidenav-anchor {
        .sidenav-item-dropdown-indicator {
          transform: rotate(180deg);
        }
      }
    }

    .sidenav-item-dropdown-indicator {
      transition: transform .25s;
    }

  }
}
