<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <h2 class="article-title">Material Toast</h2>
    <div class="box box-default">
      <div class="box-body">

        <div class="row">
          <div class="col-xl-8 offset-lg-2">
            <div ng-controller="ToastDemo">
              <div class="callout callout-info">
                <span>Toast can be dismissed with a swipe, a timer, or a button.</span><br>
                <span class="text-small">Notice the 'Show Custom' toast will not nudge the FABs positions since a custom parent was specified.</span>
              </div>

              <div layout="row" layout-sm="column" layout-align="space-around">
                <button md-raised-button color="primary" (click)="showSimpleToast()">
                  Show Simple
                </button>
                <button md-raised-button color="primary" (click)="showActionToast()">
                  Show With Action
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </article>

  <article class="article">
    <h2 class="article-title">Material Dialog</h2>
    <div class="box box-default">
      <div class="box-body padding-xl" data-ng-controller="DialogDemo">

        <div class="row">
          <div class="col-xl-8 offset-lg-2">
            <h6>Basic Usage</h6>
            <button md-raised-button color="accent" (click)="showAlert($event)">Alert Dialog</button>
            <span class="space"></span>
            <button class="md-accent btn-w-md md-raised" ng-click="showConfirm($event)"> Confirm Dialog </button>
            <div class="callout callout-info">
              INFO:
            </div>

            <div class="divider divider-xl divider-dashed"></div>
            <h6>Open From Close To</h6>
            <button class="md-accent md-raised" ng-click="openOffscreen()">
              Open From Top Left - Close Slide Down
            </button>
          </div>
        </div>

      </div>
    </div>
  </article>
</section>
