<mat-card>
  <mat-card-content>
    <textarea fxLayout="row" fxLayoutAlign="start center" fxFlex class="textarea" placeholder="说说看?"></textarea>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button matTooltip="添加照片">
        <mat-icon>photo</mat-icon>
      </button>

      <button mat-icon-button matTooltip="@他">
        <mat-icon>person</mat-icon>
      </button>

      <button mat-icon-button matTooltip="显示位置">
        <mat-icon>location_on</mat-icon>
      </button>

    </div>
    <button mat-raised-button color="accent" class="post-button">发送</button>

  </mat-card-actions>
</mat-card>