
.chats-contanier {
  height: 100%;
}

.chats-toolbar {
  width: 100%;
}

.chats-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  margin-right: 16px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.name {
  line-height: normal;
}

.last-message {
  color: #888;
}








@font-face {
  font-family: 'icomoon';
  src:url('/assets/icons/fonts/icomoon.eot?5km1tg');
  src:url('/assets/icons/fonts/icomoon.eot?#iefix5km1tg') format('embedded-opentype'),
  url('/assets/icons/fonts/icomoon.ttf?5km1tg') format('truetype'),
  url('/assets/icons/fonts/icomoon.woff?5km1tg') format('woff'),
  url('/assets/icons/fonts/icomoon.svg?5km1tg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="status-"], [class*=" status-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.status {
  position: absolute;
  top: 38px;
  left: 42px;
  border-radius: 50%;
}

.status-online {
  color: #4CAF50;
  &:before {
    content: "\e709";
  }
}
.status-clock {
  color: #FFEB3B;
  &:before {
    content: "\e727";
  }
}
.status-minus-circle {
  color: #F44336;
  &:before {
    content: "\e912";
  }
}
.status-checkbox-blank-circle-outline {
  color: #4CAF50;
  &:before {
    content: "\e704";
  }
}


//md-list-item {
//  height: auto;
//  min-height: 88px;
//}


.md-list-item-text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.md-list-item-text h3 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .010em;
  margin: 0;
  line-height: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



.column {


  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;

  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.last-message-time {
  white-space: nowrap;
}

//md-toolbar {
//  //height: 128px;
//  //min-height: 128px;
//  //max-height: 128px;
//  background-color: #F3F4F5;
//  color: rgba(0, 0, 0, 0.87);
//  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
//}


//.md-avatar {
//  margin-top: 8px;
//  margin-bottom: 8px;
//  margin-right: 16px;
//  border-radius: 50%;
//  box-sizing: content-box;
//  -webkit-box-flex: 0;
//  -webkit-flex: none;
//  flex: none;
//  width: 36px;
//  height: 36px;
//}

//.md-toolbar-tools {
//  font-size: 20px;
//  letter-spacing: 0.005em;
//  box-sizing: border-box;
//  font-weight: 400;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: row;
//  flex-direction: row;
//  width: 100%;
//  height: 64px;
//  max-height: 64px;
//  padding: 0 16px;
//  margin: 0;
//}
//
//.md-toolbar-tools-top {
//  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
//}



//.search-wrapper {
//  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
//
//  -webkit-box-pack: start;
//  -ms-flex-pack: start;
//  justify-content: flex-start;
//
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  -ms-flex-line-pack: center;
//  align-content: center;
//  max-width: 100%;
//
//  -webkit-box-flex: 1;
//  -ms-flex: 1;
//  flex: 1;
//  box-sizing: border-box;
//
//  box-sizing: border-box;
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//
//  -webkit-box-orient: horizontal;
//  -webkit-box-direction: normal;
//  -ms-flex-direction: row;
//  flex-direction: row;
//}
//
//
//
//md-toolbar {
//  md-icon {
//    color: rgba(0, 0, 0, 0.87);
//  }
//
//  .md-toolbar-tools-top {
//    border-bottom: 1px solid rgba(0, 0, 0, .08);
//
//    .avatar-wrapper {
//      cursor: pointer;
//    }
//  }
//
//  .md-toolbar-tools-bottom {
//    background-color: #FAFAFA;
//  }
//}
//
//md-content {
//
//  .chat-list {
//
//    .contact {
//
//      .name {
//
//      }
//
//      .last-message {
//        max-width: 180px;
//      }
//
//      .last-message-time {
//        white-space: nowrap;
//      }
//
//      &.unread {
//
//        .name, .last-message, .last-message-time {
//          font-weight: 500;
//        }
//      }
//
//      .unread-message-count {
//        border-radius: 50%;
//        text-align: center;
//        width: 24px;
//        height: 24px;
//        line-height: 24px;
//      }
//    }
//  }
//
//  md-list-item:last-child {
//    margin-bottom: 72px;
//  }
//}
//
//.contacts-button {
//  position: absolute;
//  bottom: 4px;
//  right: 4px;
//}
