<div class="chats-contanier">
  <md-toolbar color="primary">
    <div class="chats-toolbar" fxLayout="row" fxLayoutAlign="start center">
      <img [src]="user.avatar" class="chats-avatar pointer">

      <i [mdMenuTriggerFor]="userStatus" class="status status-online"></i>

      <span fxFlex></span>
      <button md-icon-button [mdMenuTriggerFor]="userMenu">
        <md-icon>more_vert</md-icon>
      </button>
    </div>

  </md-toolbar>

  <md-toolbar>
    <md-icon>search</md-icon>
    <md-input-container md-line>
      <input mdInput placeholder="Search or start new chat">
    </md-input-container>
  </md-toolbar>

  <div fxLayout="column">
    <md-nav-list class="chat-contacts">
      <md-list-item class="chat-contact" *ngFor="let u of users">
        <img [src]="user.avatar" md-list-avatar>
        <h3 class="name" md-line>{{user.name}}</h3>
        <p class="last-message" md-line> user.lastMessage</p>
      </md-list-item>
    </md-nav-list>
  </div>

</div>



<md-menu #userStatus="mdMenu">
  <button md-menu-item>
    <i class="status-online"></i>
    <span>Online</span>
  </button>
  <button md-menu-item>
    <i class="status-clock"></i>
    <span>Away</span>
  </button>
  <button md-menu-item>
    <i class="status-minus-circle"></i>
    <span>Do not disturb</span>
  </button>
  <button md-menu-item>
    <i class="status-checkbox-blank-circle-outline"></i>
    <span>Offline</span>
  </button>
</md-menu>

<md-menu #userMenu="mdMenu">
  <button md-menu-item>
    <md-icon> account_circle </md-icon>
    <span> Profile </span>
  </button>
  <button md-menu-item>
    <md-icon> settings </md-icon>
    <span> Settings </span>
  </button>
  <button md-menu-item>
    <md-icon>help</md-icon>
    <span>Help</span>
  </button>
  <md-divider></md-divider>
  <button md-menu-item>
    <md-icon> exit_to_app </md-icon>
    <span> Logout </span>
  </button>
</md-menu>
