@mixin stbui-tag-select-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .tag-select {
    &-item {
      > a.active {
        background-color: mat-color($primary);
        color: #fff;
      }
    }
  }
}
