<mat-card>
  <mat-card-title>speed dial</mat-card-title>
  <mat-card-subtitle>default</mat-card-subtitle>
  <stbui-speed-dial>
    <button mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
  </stbui-speed-dial>
</mat-card>

<mat-card>
  <mat-card-title>speed dial</mat-card-title>
  <mat-card-subtitle>position: down</mat-card-subtitle>
  <stbui-speed-dial open="true" position="down">
    <button mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
  </stbui-speed-dial>
</mat-card>

<mat-card>
  <mat-card-title>speed dial</mat-card-title>
  <mat-card-subtitle>position: left</mat-card-subtitle>
  <stbui-speed-dial open="true" position="left">
    <button mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
  </stbui-speed-dial>
</mat-card>

<mat-card>
  <mat-card-title>speed dial</mat-card-title>
  <mat-card-subtitle>position: right</mat-card-subtitle>
  <stbui-speed-dial open="true" position="right">
    <button mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon>home</mat-icon>
    </button>
  </stbui-speed-dial>
</mat-card>
