<div class="bg-color-primary section-container">
  <div
    class="background-holder background-holder--left-top background-holder--auto"
    style="background-image: url('assets/images/bg-pattern/wave-1.png');background-repeat: no-repeat;"
  ></div>

  <div
    class="background-holder background-holder--right-bottom background-holder--auto"
    style="background-image: url('assets/images/bg-pattern/dots-pattern-3.png');background-repeat: no-repeat;"
  ></div>

  <div class="fix-width">
    <div>
      <div class="home-logo"><a [routerLink]="['/']">Apm</a></div>
      <span fxFlex></span>
      <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/">产品</a></li>
        <li>
          <a href="https://translator-rhinoceros-87537.netlify.com/">文档</a>
        </li>
        <li><a href="/">博客</a></li>
        <li><a href="/">关于</a></li>
        <li><a href="/sigin">登录</a></li>
        <li><a href="/sigup">注册</a></li>
      </ul>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="content">
      <h2 class="text-white">中后台前端应用框架</h2>
      <h3 class="text-center">
        基于最新Angular 6框架与Material
        2技术的企业级中后台前端应用框架，涵盖了大量的常用组件和基础功能，您可以快速开发各种MIS系统，如CMS、OA、CRM、ERP、POS等，最大程度上帮助企业节省时间成本和费用开支。
      </h3>
      <h4>
        <a
          mat-raised-button
          color="primary"
          class="stbui-button-lg"
          href="https://github.com/stbui/angular-material-app/archive/master.zip"
        >
          <mat-icon>file_download</mat-icon>
          立即下载
        </a>
      </h4>
      <h5>当前版本：0.7.0 免费版</h5>
    </div>
  </div>

  <div class="hero__shape">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      id="Layer_1"
      x="0px"
      y="0px"
      viewBox="0 0 1920 242.6"
      style="enable-background:new 0 0 1920 242.6;"
      xml:space="preserve"
      class="svg replaced-svg"
    >
      <style type="text/css">
        .st0 {
          fill: #ffffff;
        }
        .st1 {
          fill: none;
        }
      </style>
      <path
        class="st0"
        d="M1920,70.5v172.1H0v-27.9C171.3,122.8,367.9,89,589.6,113.4C923.1,149.9,1014.7,43,1239.7,7  c224.9-35.9,442.2,77.7,576.1,75.6C1853.2,82,1888,78,1920,70.5z"
      ></path>
      <rect x="-1036" y="-829.4" class="st1" width="1920" height="137.6"></rect>
      <rect x="-1136" y="-829.4" class="st1" width="2446" height="380"></rect>
    </svg>
  </div>
</div>

<section class="section-container"></section>
<section class="bg-color-primary section-container"></section>
<section class="section-container"></section>
<section class="bg-color-primary section-container">
  <div
    class="background-holder background-holder--contain"
    style="background-image: url('assets/images/bg-pattern/cta-bg.png');background-repeat: no-repeat;"
  ></div>
</section>

<footer class="footer">
  <div class="fix-width">
    <div fxLayout="row" class="footer-copyright">
      <span>Copyright 2017. All Rights Reserved by stbui Pro</span>
      <span fxFlex></span>
      <span
        >Design & Developed by
        <a href="https://github.com/stbui" target="blank">stbui</a></span
      >
    </div>
  </div>
</footer>
