<div class="main">
  <header class="navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Apm</a>
      <div class="navbar-inner">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">首页</a></li>
          <li class="nav-item"><a class="nav-link" href="/">服务</a></li>
          <li class="nav-item"><a class="nav-link" href="/">价格</a></li>
          <li class="nav-item"><a class="nav-link" href="/">团队</a></li>
          <li class="nav-item"><a class="nav-link" href="/">联系</a></li>
          <li class="nav-item"><a class="nav-link" href="/">博客</a></li>
          <li class="nav-item"><a class="nav-link" href="/">关于</a></li>
          <li class="nav-item"><a class="nav-link" href="/sigin">登录</a></li>
          <li class="nav-item"><a class="nav-link" href="/sigup">注册</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="bg-color-primary section-container hero">
    <div
      class="background-holder background-holder--left-top background-holder--auto"
      style="background-image: url('assets/images/bg-pattern/wave-1.png');background-repeat: no-repeat;"
    ></div>

    <div
      class="background-holder background-holder--right-bottom background-holder--auto"
      style="background-image: url('assets/images/bg-pattern/dots-pattern-3.png');background-repeat: no-repeat;"
    ></div>

    <div class="container">
      <div class="hero-content position-relative">
        <h2 class="text-white">前端数据监控系统</h2>
        <h3 class="text-center">
          打造一款完整，高性能，高可用的前端性能监控系统，提升前端对于服务端技术的空白，体验并解决高并发系统的开发和解决方案。
        </h3>
        <h4>
          <a
            mat-raised-button
            class="button-free"
            href="https://github.com/stbui/angular-material-app"
          >
            免费试用
          </a>
        </h4>
        <h5>当前版本：0.7.0 免费版</h5>
      </div>
    </div>

    <div class="hero__shape">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 1920 242.6"
        style="enable-background:new 0 0 1920 242.6;"
        xml:space="preserve"
      >
        <path
          fill="#fff"
          d="M1920,70.5v172.1H0v-27.9C171.3,122.8,367.9,89,589.6,113.4C923.1,149.9,1014.7,43,1239.7,7  c224.9-35.9,442.2,77.7,576.1,75.6C1853.2,82,1888,78,1920,70.5z"
        ></path>
        <rect x="-1036" y="-829.4" width="1920" height="137.6"></rect>
        <rect x="-1136" y="-829.4" width="2446" height="380"></rect>
      </svg>
    </div>
  </section>

  <section class="section-container features">
    <div class="container text-center">
      <div class="features-intro">
        <h2>一站式体系化解决方案</h2>
        <p>一款完整，高性能，高可用的前端性能监控系统</p>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications</mat-icon>
            </div>
            <div class="card-text">
              <h3>实时</h3>
              <p>第一时间发送错误报警</p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_active</mat-icon>
            </div>
            <div class="card-text">
              <h3>智能</h3>
              <p>基于机器学习聚合错误数据</p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_none</mat-icon>
            </div>
            <div class="card-text">
              <h3>安全</h3>
              <p>全站HTTPS加密护航</p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_off</mat-icon>
            </div>
            <div class="card-text">
              <h3>可视化</h3>
              <p>通过各种查询条件，快速找到详细错误日志</p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_paused</mat-icon>
            </div>
            <div class="card-text">
              <h3>用户行为</h3>
              <p>细粒度追踪真实的用户行为操作及流程</p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_paused</mat-icon>
            </div>
            <div class="card-text">
              <h3>预警提醒</h3>
              <p>设置各项阀值，邮件通知，紧急修改维护</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-color-primary section-container space">
    <div
      class="background-holder background-holder--contain"
      style="background-image: url('assets/images/bg-pattern/cta-bg.png');background-repeat: no-repeat;"
    ></div>
    <div class="container position-relative">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex.gt-sm="50"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <h3 class="m-b-20">快速复现出错场景</h3>
          <p>
            记录出错前鼠标点击、页面跳转、网络请求，控制台打印等信息，打造应用的黑匣子，带您重返"失事"现场。
          </p>
        </div>
        <div fxFlex.gt-sm="50" fxFlex="100"><div class="snapshot"></div></div>
      </div>
    </div>
  </section>

  <section class="section-container space">
    <div class="container position-relative">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex.gt-sm="50" fxFlex="100"><div class="snapshot"></div></div>
        <div
          fxFlex.gt-sm="50"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <h3 class="m-b-20">一键还原出错代码</h3>
          <p>
            通过 Source Map
            还原生产环境中的压缩代码，提供完整的堆栈信息，准确定位到出错源码，帮助您快速修复Bug。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-color-primary section-container space">
    <div
      class="background-holder background-holder--contain"
      style="background-image: url('assets/images/bg-pattern/cta-bg.png');background-repeat: no-repeat;"
    ></div>
    <div class="container position-relative">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex.gt-sm="50"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <h3 class="m-b-20">从用户终端到网络 , 直至服务端 , 定位性能瓶颈</h3>
          <p>
            打通前端到后端的全链路 , 通过慢交互 、 慢加载 、 调用链等 ,
            快速查明故障域。
          </p>
        </div>
        <div fxFlex.gt-sm="50" fxFlex="100"><div class="snapshot"></div></div>
      </div>
    </div>
  </section>

  <section class="section-container space">
    <div class="container position-relative text-center">
      <div class="features-intro">
        <h2>这些成功的企业正在使用</h2>
        <p>
          目前全球有数十万开发者选择了, 其中企业级用户超过了 60000
          家,全面覆盖了运营商、金融、政府、交通、能源、电商、O2O、旅游、教育等多个领域。
        </p>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>
        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>
        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>
        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>

        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>

        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>
        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>
        <div
          fxFlex.gt-sm="25"
          fxFlex="100"
          style="padding-right: 50px;padding-left: 50px;"
        >
          <div fxFlex.gt-sm="50" fxFlex="100">
            <div class="snapshot" style="width:200px; height:50px"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-color-primary section-container space">
    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.33" fxFlex="100">
          <div class="pricing mat-elevation-z4 text-center">
            <div class="pricing-header">
              <h4>社区版</h4>
              <h2>0<sub>元</sub></h2>
            </div>
            <div class="pricing-center">
              <div class="pricing-content-item">页面级的性能上报</div>
              <div class="pricing-content-item">页面AJAX性能上报</div>
              <div class="pricing-content-item">页面所有加载资源性能上报</div>
              <div class="pricing-content-item">页面所有错误信息上报</div>
              <div class="pricing-content-item">使用source-map还原代码</div>
            </div>

            <div class="pricing-footer">
              <button
                type="button"
                mat-button color="primary"
                class="stbui-button-outline stbui-button-block"
              >
                查看
              </button>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.33" fxFlex="100">
            <div class="pricing mat-elevation-z4 text-center">
                <div class="pricing-header pricing-active">
                  <h4>团队版</h4>
                  <h2>1<sub>元</sub></h2>
                </div>
                <div class="pricing-center">
                    <div class="pricing-content-item">单机部署服务稳定保障</div>
                    <div class="pricing-content-item">高并发场景下的服务稳定和上报</div>
                    <div class="pricing-content-item">集群部署下的稳定性和合理性</div>
                    <div class="pricing-content-item">用户每次访问的行为轨迹</div>
                    <div class="pricing-content-item">全国省份流量热力图</div>
                </div>
    
                <div class="pricing-footer">
                  <button
                    type="button"
                    mat-button color="primary"
                    class="stbui-button-outline stbui-button-block"
                  >
                    查看
                  </button>
                </div>
              </div>
        </div>

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.33" fxFlex="100">
            <div class="pricing mat-elevation-z4 text-center">
                <div class="pricing-header">
                  <h4>企业版</h4>
                  <h2>10<sub>元</sub></h2>
                </div>
                <div class="pricing-center">
                    <div class="pricing-content-item">千万级别数据量查询优化方案</div>
                    <div class="pricing-content-item">实时查询的高可用方案</div>
                    <div class="pricing-content-item">消息队列的优化和合理使用方案</div>
                    <div class="pricing-content-item">高可用集群方案</div>
                    <div class="pricing-content-item">定位性能瓶颈</div>
                </div>
    
                <div class="pricing-footer">
                  <button
                    type="button"
                    mat-button color="primary"
                    class="stbui-button-outline stbui-button-block"
                  >
                    查看
                  </button>
                </div>
              </div>
        </div>

        <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.33" fxFlex="100">
            <div class="pricing mat-elevation-z4 text-center">
                <div class="pricing-header">
                  <h4>开发版</h4>
                  <h2>20<sub>元</sub></h2>
                </div>
                <div class="pricing-center">
                    <div class="pricing-content-item">功能一</div>
                    <div class="pricing-content-item">功能二</div>
                    <div class="pricing-content-item">功能三</div>
                    <div class="pricing-content-item">功能四</div>
                    <div class="pricing-content-item">功能五</div>
                </div>
    
                <div class="pricing-footer">
                  <button
                    type="button"
                    mat-button color="primary"
                    class="stbui-button-outline stbui-button-block"
                  >
                    查看
                  </button>
                </div>
              </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section-container space">
    <div class="container">
      <mat-card>
        <mat-card-title>联系方式</mat-card-title>
        <mat-card-content>
          <form #formContact="ngForm">
            <mat-form-field class="display-block">
              <input
                matInput
                placeholder="您的名字"
                name="name"
                ngModel
                required
                minlength="4"
                maxlength="10"
              />
            </mat-form-field>
            <mat-form-field class="display-block">
              <input
                matInput
                placeholder="您的邮箱"
                name="email"
                ngModel
                required
              />
            </mat-form-field>
            <mat-form-field class="display-block">
              <input
                matInput
                placeholder="您的电话"
                name="phone"
                ngModel
                required
              />
            </mat-form-field>
            <mat-form-field class="display-block">
              <textarea
                matInput
                placeholder="留言"
                rows="3"
                name="message"
                ngModel
                required
              ></textarea>
            </mat-form-field>
            <mat-checkbox class="form-check">我同意</mat-checkbox>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!formContact.valid"
            >
              提交
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div fxLayout="row" class="footer-copyright">
        <span>Copyright 2017-2019. All Rights Reserved by stbui Pro</span>
        <span fxFlex></span>
        <span
          >Design & Developed by
          <a href="https://github.com/stbui" target="blank">stbui</a></span
        >
      </div>
    </div>
  </footer>
</div>
