<div class="main">
  <header class="navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Apm</a>
      <div class="navbar-inner">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">首页</a></li>
          <li class="nav-item"><a class="nav-link" href="/">服务</a></li>
          <li class="nav-item"><a class="nav-link" href="/">价格</a></li>
          <li class="nav-item"><a class="nav-link" href="/">团队</a></li>
          <li class="nav-item"><a class="nav-link" href="/">联系</a></li>
          <li class="nav-item"><a class="nav-link" href="/">博客</a></li>
          <li class="nav-item"><a class="nav-link" href="/">关于</a></li>
          <li class="nav-item"><a class="nav-link" href="/sigin">登录</a></li>
          <li class="nav-item"><a class="nav-link" href="/sigup">注册</a></li>
        </ul>
      </div>
    </div>
  </header>

  <section class="bg-color-primary section-container hero">
    <div
      class="background-holder background-holder--left-top background-holder--auto"
      style="background-image: url('assets/images/bg-pattern/wave-1.png');background-repeat: no-repeat;"
    ></div>

    <div
      class="background-holder background-holder--right-bottom background-holder--auto"
      style="background-image: url('assets/images/bg-pattern/dots-pattern-3.png');background-repeat: no-repeat;"
    ></div>

    <div class="container">
      <div class="hero-content position-relative">
        <h2 class="text-white">前端数据监控系统</h2>
        <h3 class="text-center">
          专注于 Web 端体验数据监控，从页面打开速度（测速）、页面稳定性（JS
          Error）和外部服务调用成功率（API）这三个方面监测 Web 页面的健康度。
        </h3>
        <h4>
          <a
            mat-raised-button
            class="stbui-button-lg"
            href="https://github.com/stbui/angular-material-app/archive/master.zip"
          >
            立即下载
          </a>
        </h4>
        <h5>当前版本：0.7.0 免费版</h5>
      </div>
    </div>

    <div class="hero__shape">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Layer_1"
        x="0px"
        y="0px"
        viewBox="0 0 1920 242.6"
        style="enable-background:new 0 0 1920 242.6;"
        xml:space="preserve"
        class="svg replaced-svg"
      >
        <style type="text/css">
          .st0 {
            fill: #ffffff;
          }
          .st1 {
            fill: none;
          }
        </style>
        <path
          class="st0"
          d="M1920,70.5v172.1H0v-27.9C171.3,122.8,367.9,89,589.6,113.4C923.1,149.9,1014.7,43,1239.7,7  c224.9-35.9,442.2,77.7,576.1,75.6C1853.2,82,1888,78,1920,70.5z"
        ></path>
        <rect
          x="-1036"
          y="-829.4"
          class="st1"
          width="1920"
          height="137.6"
        ></rect>
        <rect x="-1136" y="-829.4" class="st1" width="2446" height="380"></rect>
      </svg>
    </div>
  </section>

  <section class="section-container features">
    <div class="container text-center">
      <div class="features-intro">
        <h2>Welcome to array, where data matters.</h2>
        <p>
          We’ll Deliver the best stories and ideas on the topics you care about
          most straight to your homepage, app, or inbox.
        </p>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications</mat-icon>
            </div>
            <div class="card-text">
              <h3>Responsive</h3>
              <p>
                Deliver the best stories and ideas on the topics you care about
                most straight to you.
              </p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_active</mat-icon>
            </div>
            <div class="card-text">
              <h3>Responsive</h3>
              <p>
                Deliver the best stories and ideas on the topics you care about
                most straight to you.
              </p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_none</mat-icon>
            </div>
            <div class="card-text">
              <h3>Responsive</h3>
              <p>
                Deliver the best stories and ideas on the topics you care about
                most straight to you.
              </p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_off</mat-icon>
            </div>
            <div class="card-text">
              <h3>Responsive</h3>
              <p>
                Deliver the best stories and ideas on the topics you care about
                most straight to you.
              </p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_paused</mat-icon>
            </div>
            <div class="card-text">
              <h3>Responsive</h3>
              <p>
                Deliver the best stories and ideas on the topics you care about
                most straight to you.
              </p>
            </div>
          </div>
        </div>

        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
          <div class="feature-list">
            <div class="card-icon">
              <mat-icon class="card-img">notifications_paused</mat-icon>
            </div>
            <div class="card-text">
              <h3>Responsive</h3>
              <p>
                Deliver the best stories and ideas on the topics you care about
                most straight to you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-color-primary section-container" style="height:550px">
    <div
      class="background-holder background-holder--contain"
      style="background-image: url('assets/images/bg-pattern/cta-bg.png');background-repeat: no-repeat;"
    ></div>
  </section>

  <section class="section-container pricing">
    <div class="container">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-card fxFlex.gt-sm="23" fxFlex.gt-xs="31" fxFlex="100">
          <mat-card-header>
            <mat-card-title class="pricing-title">0</mat-card-title>
            <mat-card-subtitle class="pricing-subtitle"
              >社区版</mat-card-subtitle
            >
          </mat-card-header>

          <mat-card-content>
            <p>功能一</p>
            <p>功能二</p>
            <p>功能三</p>
            <p>功能四</p>
            <p>功能五</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              type="button"
              class="mat-button stbui-button stbui-button-outline stbui-button-block"
              mat-ripple
            >
              查看
            </button>
          </mat-card-actions>
        </mat-card>

        <mat-card fxFlex.gt-sm="23" fxFlex.gt-xs="31" fxFlex="100">
          <mat-card-header>
            <mat-card-title class="pricing-title">1元</mat-card-title>
            <mat-card-subtitle class="pricing-subtitle"
              >团队版</mat-card-subtitle
            >
          </mat-card-header>

          <mat-card-content>
            <p>功能一</p>
            <p>功能二</p>
            <p>功能三</p>
            <p>功能四</p>
            <p>功能五</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              type="button"
              class="mat-button stbui-button stbui-button-outline stbui-button-block"
              mat-ripple
            >
              查看
            </button></mat-card-actions
          >
        </mat-card>

        <mat-card fxFlex.gt-sm="23" fxFlex.gt-xs="31" fxFlex="100">
          <mat-card-header>
            <mat-card-title class="pricing-title">10元</mat-card-title>
            <mat-card-subtitle class="pricing-subtitle"
              >企业版</mat-card-subtitle
            >
          </mat-card-header>

          <mat-card-content>
            <p>功能一</p>
            <p>功能二</p>
            <p>功能三</p>
            <p>功能四</p>
            <p>功能五</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              type="button"
              class="mat-button stbui-button stbui-button-outline stbui-button-block"
              mat-ripple
            >
              查看
            </button>
          </mat-card-actions>
        </mat-card>

        <mat-card fxFlex.gt-sm="23" fxFlex.gt-xs="31" fxFlex="100">
          <mat-card-header>
            <mat-card-title class="pricing-title">20元</mat-card-title>
            <mat-card-subtitle class="pricing-subtitle"
              >开发版</mat-card-subtitle
            >
          </mat-card-header>

          <mat-card-content>
            <p>功能一</p>
            <p>功能二</p>
            <p>功能三</p>
            <p>功能四</p>
            <p>功能五</p>
          </mat-card-content>

          <mat-card-actions>
            <button
              type="button"
              class="mat-button stbui-button stbui-button-outline stbui-button-block"
              mat-ripple
            >
              查看
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>

  <section class="bg-color-primary section-container" style="height:550px">
      <div
        class="background-holder background-holder--contain"
        style="background-image: url('assets/images/bg-pattern/cta-bg.png');background-repeat: no-repeat;"
      ></div>
      Contact
    </section>

  <footer class="footer">
    <div class="fix-width">
      <div fxLayout="row" class="footer-copyright">
        <span>Copyright 2017. All Rights Reserved by stbui Pro</span>
        <span fxFlex></span>
        <span
          >Design & Developed by
          <a href="https://github.com/stbui" target="blank">stbui</a></span
        >
      </div>
    </div>
  </footer>
</div>
