.bg-color-primary {
  background: linear-gradient(-134deg, #c86dd7 0%, #3023ae 100%);
}

.position-relative {
  position: relative !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
.text-center {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 998;
  transition: 0.3s;
  background: transparent;
}

.navbar-brand {
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;

  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px 20px;

  &:hover {
    color: #f8e7ff;
  }
}

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-container {
  position: relative;
  z-index: 1;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 550px;
}

.footer {
  padding: 30px 0 30px;
  background: #925ecc;
  color: #d2d5da;

  a {
    color: #d2d5da;
    cursor: pointer;
  }
}

.form-check {
  display: block;
  margin: 16px 0 32px;
}

.display-block {
  display: block;
}

.hero__shape {
  position: absolute !important;
  top: auto;
  right: 0;
  bottom: -3px;
  left: 0;
  z-index: -1;
}

.hero-content {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  max-width: 100%;
  place-content: center;
  align-items: center;
  color: #fff;
}

.background-holder {
  position: absolute !important;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background-holder--left-top {
  background-position: left top;
}
.background-holder--auto {
  background-size: auto;
}

mat-card {
  margin: 0 10px;
}

.features {
  padding: 100px 0;

  &-intro {
    margin-bottom: 50px;

    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #3a3a47;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: 0.01em;
      color: #818198;
      max-width: 630px;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.feature {
  &-list {
    margin: 30px 10px;
  }
}

.card-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto;
  background: #c86dd7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img {
  width: 34px;
  height: 34px;
  font-size: 34px;
  color: #fff;
}
.card-text h3 {
  font-size: 21px;
  font-weight: 500;
  color: #364655;
  margin-bottom: 15px;
}

.space {
  padding: {
    top: 128px;
    bottom: 128px;
  }
}

.bg-color-primary {
  h3 {
    color: #fff;
  }
  p {
    color: #d2d5da;
  }
}

.snapshot {
  width: 565px;
  height: 300px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.button-free {
  color: #c86dd7;
  padding: {
    left: 32px;
    right: 32px;
  }
}

.pricing {
  mat-card-content div {
    line-height: 42px;
  }
}
.pricing-title {
  font-weight: 600;
  color: #c86dd7;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
}

.pricing-subtitle {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 600;
  color: #364655;
  opacity: 0.7;
  margin: 20px 0;
  text-align: center;
}
.pricing {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 5px;
  margin-bottom: 20px;

  &-header {
    background: rgba(200, 109, 215, 0.12) none repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 35px;
    padding: 20px;
    color: #232323;

    h4 {
      margin: 0;
      padding: 0;
      font-weight: 600;
      text-transform: uppercase;

      margin-bottom: 15px;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 50px;
      font-weight: 900;
      letter-spacing: -1px;
      line-height: 1;

      sub {
        position: relative;
        line-height: 0;
        vertical-align: baseline;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  &-content {
    &-item {
      line-height: 40px;
      padding: 0 20px;
    }
  }

  &-footer {
    padding: 20px;
  }

  &-active {
    background-color: #c86dd7;
    color: #fff;
  }
}
