.detail-container {
  padding: 10px 15px;
}

.column-title {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
}

table {
  width: 100%;
}

.mat-column-name {
  width: 70px;
}
