<div class="main-toolbar mat-elevation-z2" fxLayout="row" fxLayoutAlign="start center">
  <button mat-icon-button (click)="sidenav.opened = !sidenav.opened">
    <mat-icon>menu</mat-icon>
  </button>

  <span fxFlex></span>

  <button mat-icon-button [fxHide]="true" [fxHide.gt-sm]="false" (click)="toggleFullscreen()">
    <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
    <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <stbui-toolbar-notification></stbui-toolbar-notification>
  <stbui-toolbar-user></stbui-toolbar-user>

  <button mat-button class="more-btn" (click)="customizer.open()">
    <mat-icon>settings</mat-icon>
  </button>

</div>

<stbui-loading *ngIf="showLoading"></stbui-loading>
