<section class="chapter">

  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Services We Provide</h1>
    </div>
    <p class="hero-tagline">We provide amazing solutions that you can't miss</p>
  </section>

  <article class="article padding-lg-v article-dark article-bordered">

    <div class="container-fluid with-maxwidth">
      <div class="row">
        <div class="col-lg-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="icon-box ibox-plain ibox-center">
                <div class="ibox-icon">
                  <a href="javascript:;"><i class="material-icons">create</i></a>
                </div>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum adipisci sequi quis mollitia.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="icon-box ibox-plain ibox-center">
                <div class="ibox-icon">
                  <a href="javascript:;"><i class="material-icons">code</i></a>
                </div>
                <h3>Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum adipisci sequi quis mollitia.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="icon-box ibox-plain ibox-center">
                <div class="ibox-icon">
                  <a href="javascript:;"><i class="material-icons">laptop</i></a>
                </div>
                <h3>Website</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum adipisci sequi quis mollitia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="icon-box ibox-plain ibox-center">
                <div class="ibox-icon">
                  <a href="javascript:;"><i class="material-icons">camera_alt</i></a>
                </div>
                <h3>Photography</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum adipisci sequi quis mollitia.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="icon-box ibox-plain ibox-center">
                <div class="ibox-icon">
                  <a href="javascript:;"><i class="material-icons">phone_iphone</i></a>
                </div>
                <h3>Mobile App</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum adipisci sequi quis mollitia.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="icon-box ibox-plain ibox-center">
                <div class="ibox-icon">
                  <a href="javascript:;"><i class="material-icons">language</i></a>
                </div>
                <h3>Marketing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum adipisci sequi quis mollitia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </article>


</section>
