$color__inactive: #616161;
$color__primary: #3F51B5;
$color__read: #9F9F9F;
$color__checkbox__star: #616161;

$prefix: 'error';

.#{$prefix} {
  position: relative;
  min-height: 60px;
  max-height: 60px;
  padding: 8px 24px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: $color__inactive;
  transition: background .1s ease-in-out;
  border-bottom: 1px solid #EEE;
  cursor: pointer;

  &.read {
    color: $color__read;
    font-weight: normal;
  }

  &:hover {
    background: #EEE;
  }
}

.#{$prefix}-container {
  margin: 15px;
}

.#{$prefix}-main {
  margin-top: 10px;
  max-height: 420px;
  overflow: hidden;
}

.#{$prefix}-toolbar {
  box-sizing: border-box;
  min-height: 60px;
  max-height: 60px;
  border-bottom: 1px solid #eee;
  padding: 8px 24px;
  color: $color__inactive;
}

.start-wrapper {
  padding-right: 8px;

  .checkbox {
    margin: 0 8px 0 0;
    color: $color__checkbox__star;
  }
}

.content-wrapper {
  white-space: nowrap;
  overflow-x: hidden;
  display: block;
  margin: 0;
}

.end-wrapper {
  margin-left: 16px;
}

.link {
  color: inherit;
  text-decoration: none;
}
