:host {
  display: block;
  margin: 24px;
}

button {
  margin: 0 16px 16px 0;
}

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.contact-add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
