
<div class="header-container">
  <div class="contact-dialog-title" fxLayout="row" fxLayoutAlign="space-between">
    <div class="text-white">联系人</div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<mat-dialog-content>

  <form>
    <mat-form-field class="display-block">
      <mat-icon class="form-icon" matPrefix>account_circle</mat-icon>
      <input type="text" matInput placeholder="姓名" [value]="data.name">
    </mat-form-field>

    <mat-form-field class="display-block">
      <mat-icon class="form-icon" matPrefix>account_circle</mat-icon>
      <input type="text" matInput placeholder="手机号码" [value]="data.phone">
    </mat-form-field>
      
    <mat-form-field class="display-block">
      <mat-icon class="form-icon" matPrefix>account_circle</mat-icon>
      <input type="text" matInput placeholder="邮箱" [value]="data.mail">
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>更新</button>
</mat-dialog-actions>
