
.form-icon {
  margin-right: 12px;
  margin-top: 12px;
}

.header-container {
  margin: 0 -30px;
  height: 200px;
  background: linear-gradient(90deg, #00d9bf, #00d977);
  margin-bottom: 30px;
}

.contact-dialog-form {

}

.contact-dialog-title {
  padding: {
    top: 10px;
    bottom: 10px;
  }
  margin: {
    left: 20px;
    right: 20px;
  }
  line-height: 40px;
}
.mat-dialog-container {
  padding-top: 0 !important;
}

.full-width {
  width: 100%;
}