<div class="stb-date-display">
  <div class="stb-date-display-year">
    <div class="stb-date-display-slideIn-wrapper">
      <div class="stb-date-display-year-title" *ngFor="let displayDate of displayDates">
        {{ displayDate.getFullYear() }}
      </div>
    </div>
  </div>
  <div class="stb-date-display-monthday">
    <div class="stb-date-display-slideIn-wrapper">
      <div class="stb-date-display-monthday-title" *ngFor="let displayDate of displayDates">
        {{ displayDate | datePicker:'formatDisplay' }}
      </div>
    </div>
  </div>
</div>
