.stb-calendar {
  color: rgba(0, 0, 0, .87);
  user-select: none;
  width: 310px;
  &-landspace {
    width: 479px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  &-monthday-container {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 8px;
    transition: all .45s cubic-bezier(.23, 1, .32, 1);
  }
  &-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    height: 20px;
    line-height: 15px;
    opacity: 0.5;
    text-align: center;
  }
  &-week-day {
    width: 42px;
  }
  &-monthday {
    position: relative;
    overflow: hidden;
    height: 214px;
  }
  &-monthday-slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    max-height: 48px;
    padding: 0px;
    .stb-flat-button {
      min-width: 64px;
      margin: 4px 8px 8px 0px;
    }
  }
}

.stb-calendar-slide-next-enter-active,
.stb-calendar-slide-next-leave-active,
.stb-calendar-slide-prev-enter-active,
.stb-calendar-slide-prev-leave-active {
  backface-visibility: hidden;
}

.stb-calendar-slide-next-enter {
  transform: translate3d(100%, 0, 0);
}

.stb-calendar-slide-next-leave-active {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.stb-calendar-slide-prev-enter {
  transform: translate3d(-100%, 0, 0);
}

.stb-calendar-slide-prev-leave-active {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.stb-calendar-year-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  width: 310px;
  height: 272px;
  overflow: hidden;
}

.stb-calendar-year {
  height: inherit;
  line-height: 35px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.stb-calendar-year-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
