<div class="stb-calendar" [class.stb-calendar-landspace]="isModeLandscape()">
  <div class="stb-date-display">
    <div class="stb-date-display-year">
      <div class="stb-date-display-slideIn-wrapper">
        <div class="stb-date-display-year-title" *ngFor="let displayDate of displayDates">
          {{ displayDate.getFullYear() }}
        </div>
      </div>
    </div>
    <div class="stb-date-display-monthday">
      <div class="stb-date-display-slideIn-wrapper">
        <div class="stb-date-display-monthday-title" *ngFor="let displayDate of displayDates">
          {{ displayDate | datePicker:'formatDisplay' }}
        </div>
      </div>
    </div>
  </div>
  <div class="stb-calendar-container">
    <div class="stb-calendar-monthday-container">
      <div class="stb-calendar-toolbar">
        <button md-icon-button>
          <md-icon>chevron_left</md-icon>
        </button>
        <div class="stb-calendar-toolbar-title-wrapper">
          <div class="stb-calendar-toolbar-title" *ngFor="let displayDate of displayDates">
            {{ displayDate | datePicker:'formatMonth' }}
          </div>
        </div>
        <button md-icon-button>
          <md-icon>chevron_right</md-icon>
        </button>
      </div>
      <div class="stb-calendar-week"><span class="stb-calendar-week-day">一</span><span
        class="stb-calendar-week-day">二</span><span class="stb-calendar-week-day">三</span><span
        class="stb-calendar-week-day">四</span><span class="stb-calendar-week-day">五</span><span
        class="stb-calendar-week-day">六</span><span class="stb-calendar-week-day">日</span></div>
      <div class="stb-calendar-monthday">
        <div class="stb-calendar-monthday-slide">
          <div class="stb-calendar-monthday-content">
            <div class="stb-calendar-monthday-row" *ngFor="let week of weeksArray">
              <stbui-day-button (onSelected)="onDaySelected($event)" [date]="date" *ngFor="let date of week"></stbui-day-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="stb-calendar-actions">
      <button md-button color="primary">取消</button>
      <button md-button color="primary">确定</button>
    </div>
  </div>
</div>
