<div class="stb-calendar" [class.stb-calendar-landspace]="isModeLandscape()">
  <div class="stb-date-display">
    <div class="stb-date-display-year">
      <div class="stb-date-display-slideIn-wrapper">
        <div class="stb-date-display-year-title">
          2017
        </div>
      </div>
    </div>
    <div class="stb-date-display-monthday">
      <div class="stb-date-display-slideIn-wrapper">
        <div class="stb-date-display-monthday-title">
          04-24 星期一
        </div>
      </div>
    </div>
  </div>
  <div class="stb-calendar-container">
    <div class="stb-calendar-monthday-container">
      <div class="stb-calendar-toolbar">
        <button md-icon-button>
          <md-icon>chevron_left</md-icon>
        </button>
        <div class="stb-calendar-toolbar-title-wrapper">
          <div class="stb-calendar-toolbar-title">
            2017 四月
          </div>
        </div>
        <button md-icon-button>
          <md-icon>chevron_right</md-icon>
        </button>
      </div>
      <div class="stb-calendar-week"><span class="stb-calendar-week-day">一</span><span
        class="stb-calendar-week-day">二</span><span class="stb-calendar-week-day">三</span><span
        class="stb-calendar-week-day">四</span><span class="stb-calendar-week-day">五</span><span
        class="stb-calendar-week-day">六</span><span class="stb-calendar-week-day">日</span></div>
      <div class="stb-calendar-monthday">
        <div class="stb-calendar-monthday-slide">
          <div class="stb-calendar-monthday-content">
            <div class="stb-calendar-monthday-row"><span class="stb-day-empty"></span><span
              class="stb-day-empty"></span><span class="stb-day-empty"></span><span class="stb-day-empty"></span><span
              class="stb-day-empty"></span>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">1</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">2</span></button>
            </div>
            <div class="stb-calendar-monthday-row">
              <button class="stb-day-button">3</button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">4</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">5</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">6</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">7</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">8</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">9</span></button>
            </div>
            <div class="stb-calendar-monthday-row">
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">10</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">11</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">12</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">13</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">14</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">15</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">16</span></button>
            </div>
            <div class="stb-calendar-monthday-row">
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">17</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">18</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">19</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">20</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">21</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">22</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">23</span></button>
            </div>
            <div class="stb-calendar-monthday-row">
              <button class="selected stb-day-button now">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">24</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">25</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">26</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">27</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">28</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">29</span></button>
              <button class="stb-day-button">
                <div class="stb-day-button-bg"></div>
                <span class="stb-day-button-text">30</span></button>
            </div>
          </div>
        </div>
      </div>
    </div> <!---->
    <div class="stb-calendar-actions">
      <button md-button color="primary">取消</button>
      <button md-button color="primary">确定</button>
    </div>
  </div>
</div>
