:host {
  display: block;
  padding: 15px;
}

.form-check {
  display: block;
  margin: 16px 0 32px;
}

.display-block {
  display: block;
}

.divide {
  padding: 0 15px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 15px;
}
