:host {
  display: block;
  height: calc(100% - 64px);
  background-color: #3c4252;
  color: rgba(255, 255, 255, 0.87);
}

.navigation-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.navigation-scrollbar-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.navigation-footer {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, .1);

  > a {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .12);
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    text-align: center;
    min-width: 88px;
    line-height: 36px;
    padding: 0 24px;

    > mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
      line-height: 16px;
      margin-right: 16px;
    }
  }
}
