.stbui-upload {
  display: inline-block;
  vertical-align: top;
  &-container {
    position: relative;
    border-radius: 5px;
    border: 1px dashed #d9d9d9;
   
  }
  &-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
  }
  &-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
    color: #999;
  }
  &-text {
    margin-top: 8px;
    color: #666;
  }
  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  &-preview {
    width: 128px;
    height: 128px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
