<div class="page-layout">
  <div class="top-bg"></div>

  <div class="wrapper">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">header</div>
    <div class="card">
      <div class="toolbar" fxLayout="row" fxLayoutAlign="start center"></div>
      <div class="content">
        <h2>技术周刊</h2>
        业界动态<br>
        <p>Angular 5.1 & More Now Available</p>
        <p>Angular发布5.1版本，同时发布了Angular CLI 1.6版本以及首个稳定版本的Angular Material。CLI支持了Service Worker，以及带来对AppShell更好的支持
        </p>
        <p>Ant Design 3.0 驾到
        </p>
        <p>Ant Design 是一个致力于提升「用户」和「设计者」使用体验，提高「研发者」开发效率的企业中后台设计体系。
        </p>
        <p>前端开发
        </p>
        <p>A Pinterest Progressive Web App Performance Case Study
        </p>
        <p>Pinterest 新的移动站点做成一个 PWA。这篇文章分享了通过减少 JavaScript 打包大小，以及运用 Service Worker 等方式，提升性能，在移动设备上获取更好的体验。
        </p>
        <p>JavaScript 性能优化的小知识总结
        </p>
        <p>文章总结 JavaScript 性能优化的 code 写法，包含变量的声明、 定时器的使用 、DOM 操作、 循环优化等方面 优化的代码写法。如果重构一个项目代码，这些代码的优化是不可忽视的， 而是是个持续的过程。
        </p>React Performance Fixes on Airbnb Listing Pages
        Airbnb在Listing Page对React性能调优实践，文件详细列举了几个修复例子，如在客户端渲染前，服务端渲染多余内容导致的性能问题;通过火焰图提高组件渲染效率，以及避免不必要的组件渲染等
        如何从性能方面选择for，map和forEach？
        这是非常好的问题，在编程中我们经常使用循环，可是循环的方式却有很多种，我们应该基于什么样的理由去选择适合的呢？本问题上的一问一答可以给我们一些思路。
        看过这篇文章以后不要再提this
        本文讲解了 this 在各个场景下表示什么值，讲解了 call、apply、bind、箭头函数对 this 的影响
        JavaScript 的机器学习指南
        听说你用 JavaScript 写代码？本文是你的机器学习指南，来自德国的 Robin Wieruch 发布的一系列使用 JavaScript 构建机器学习的教程。
        PWA之Workbox缓存策略分析
        本文主要分析通过workbox(基于1.x和2.x版本，未来3.x版本会有新的结构)生成Service-Worker的缓存策略，workbox是GoogleChrome团队对原来sw-precache和sw-toolbox的封装，并且提供了Webpack和Gulp插件方便开发者快速生成sw.js文件。
        React Fiber初探
        React 16版本版本中处了包含Portal，异常边界等新特性外， 最重要的是重写了调和算法--Fiber， 推出了新的调和器--Fiber Reconciler，
        来负责管理组件实例的更新，渲染任务及与其他fiber实例的联系。 本文博主通过自己的学习简单的讲述了对Fiber架构实现和源码， 可以帮助我们很好的理解它。
        [译]JavaScript 的时间消耗
        译文中图文并茂的阐述了执行 JavaScript 代码的时间消耗地方， 了解到 消耗的地方，才能更好的优化项目，提高页面交互响应的速度。
        How to Organize React Files Before It’s Messed Up
        随着项目扩大，如何组织好项目中的React文件，文章提供了一些方案以及最佳实践
        技术纵横
        The Best Request Is No Request, Revisited
        当HTTP/2.0的支持越来越普及，"the best request is no request"是否还在今天适用?
        API 是如何工作的
        用一个诙谐的比喻深入浅出讲解 API 是什么。
        实用推荐
        Lint the Web Forward With Sonarwhal
        Sonarwhal Microsoft Edge 团队开发的一款开源网站检查工具，包含在线站点和命令行工具。可以对可访问性，操作性，安全性，性能以及 PWA 等方面进行检查，看是否符合最佳实践。
        程序人生
        如何用人类的方式进行Code Review（二)
        关于如何在 Code review 中进行良好的沟通，避免陷入一些潜在的陷阱。这里，我会着重于介绍一些技巧，让你的 Code review
        能够顺利完成，避免磕磕碰碰。那么这里用一句话概括一些：一个好的代码评审者，不仅需要找出代码中的 bug，还需要提供认真负责的反馈来让团队伙伴得到能力上的提升。
      </div>
    </div>
  </div>
</div>
