<div class="container-fluid no-breadcrumbs page-dashboard">

  <div class="row">
    <div class="col-lg-6">
      <div class="box box-default">
        <div class="box-header">KPI Growth</div>
        <div class="box-body">
          <div data-echarts data-options="line2.options" style="height: 350px;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="box box-default">
        <div class="box-header">Competitiveness</div>
        <div class="box-body">
          <div data-echarts data-options="line1.options" style="height: 350px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="box box-default">
        <div class="box-header">Our Company vs Industry Average</div>
        <div class="box-body">
          <div data-echarts data-options="radar3.options" style="height: 360px;"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="box box-default">
    <div class="box-body">

      <div class="row">
        <div class="col-lg-3 box-info">
          <div class="box-icon"><i class="material-icons">desktop_windows</i></div>
          <div class="box-desc">
            <h6>Website</h6>
            <p class="box-num">10.5 M</p>
          </div>
          <div data-echarts data-options="smline2.options" class="sm-charts" style="height: 50px; width:100px;"></div>
        </div>
        <div class="col-lg-3 box-info">
          <div class="box-icon"><i class="material-icons">devices_other</i></div>
          <div class="box-desc">
            <h6>Devices</h6>
            <p class="box-num">22.1 M</p>
          </div>
          <div data-echarts data-options="smline3.options" class="sm-charts" style="height: 50px; width:100px;"></div>
        </div>
        <div class="col-lg-3 box-info">
          <div class="box-icon"><i class="material-icons">phone_android</i></div>
          <div class="box-desc">
            <h6>Apps</h6>
            <p class="box-num">9.8 M</p>
          </div>
          <div data-echarts data-options="smline1.options" class="sm-charts" style="height: 50px; width:100px;"></div>
        </div>
        <div class="col-lg-3 box-info">
          <div class="box-icon"><i class="material-icons">people_outline</i></div>
          <div class="box-desc no-border">
            <h6>Social</h6>
            <p class="box-num">13.2 M</p>
          </div>
          <div data-echarts data-options="smline4.options" class="sm-charts" style="height: 50px; width:100px;"></div>
        </div>
      </div>

    </div>
  </div>

</div>
