@mixin navigation-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .nav-category-item {
    color: mat-color($foreground, text);

    .active,
    &.active {
      background-color: mat-color($primary);
      color: mat-color($background, card);
    }

    &:hover {
      background-color: mat-color($background, hover);

      .active,
      &.active {
        background-color: mat-color($primary);
      }
    }
  }

  .nav-title a {
    color: mat-color($primary);
    &:hover {
      color: mat-color($primary, .8);
    }
  }
}
