<div fxlayout="column">
  <md-card class="widget">
    <md-card-content>
      <div class="nav-category">
        <div class="nav-category-title">专辑：</div>
        <a md-ripple class="nav-category-item" [class.active]="nav_id == 0" (click)="findNavLists()">全部</a>
        <a md-ripple class="nav-category-item" [class.active]="nav_id == category.id" (click)="findNavLists(category.id)" *ngFor="let category of categorys">{{ category.name }}</a>
      </div>
    </md-card-content>
  </md-card>
</div>

<div fxlayout="row" fxLayoutWrap>
  <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-sm="33.3" fxFlex.gt-xs="50" *ngFor="let nav of navigations">
    <md-card class="widget">
      <md-card-title class="nav-title"><a href="{{ nav.link }}" target="_blank">{{ nav.title }}</a></md-card-title>
      <md-card-content class="nav-desc">{{ nav.description }}</md-card-content>
    </md-card>
  </div>
</div>

<stbui-pagination align="center" [total]="totalPages" (onPage)="page($event)"></stbui-pagination>
