md-toolbar.mat-toolbar.sidenav-toolbar {
  z-index: 3;
}

.logo-text {
  text-decoration: none;
  margin-left: 24px;
  line-height: normal;
}

.sidenav-container, .sidenav-scrollbar-container {
  height: 100%;
}

.cdk-focus-trap-content, md-sidenav {
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.icon-sidenav-toggle {
  color: #f00;
  transition: transform .25s;

  &.rotate {
    transform: rotate(-180deg);
  }
}

