md-toolbar.mat-toolbar.sidenav-toolbar {
  background: #333C44;
  padding: 0 14px 0 24px;
  z-index: 3;
}

.logo-text {
  color: #fff;
  text-decoration: none;
  height: 35px; margin-left: 24px; margin-bottom: -5px;
}

.sidenav-container, .sidenav-scrollbar-container {
  height: 100%;
}

.cdk-focus-trap-content, md-sidenav {
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.icon-sidenav-toggle {
  color: #f00;
  transition: transform .25s;

  &.rotate {
    transform: rotate(-180deg);
  }
}

/***************/
.stb-dark {
  background: #333C44;

  .sidenav-anchor {
    color: #a1a1a1;

    &:hover {
      color: #fafafa;
    }

    &.active {
      color: #fafafa;
    }
  }
}
