<div class="sidenav-container" fxLayout="column">
  <md-toolbar class="primary">

  </md-toolbar>

  <div class="sidenav-scrollbar-container" fxLayout="column">
    <md-nav-list fxLayout="column">
      <a class="sidenav-anchor" md-list-item md-ripple>
        <md-icon>build</md-icon>
        <span class="sidenav-item-name">test</span>
        <span fxFlex></span>
        <span class="badge">3</span>
      </a>
      <a class="sidenav-anchor" md-list-item md-ripple (click)="toggleDropdown()">
        <md-icon>build</md-icon>
        <span class="sidenav-item-name">test</span>
        <span fxFlex></span>
        <span class="badge">3</span>
        <md-icon class="sidenav-item-dropdown-indicator rotate fade-in-on-icon-sidenav">expand_more</md-icon>
      </a>
      <md-nav-list fxLayout="column">
        <a class="sidenav-anchor" md-list-item md-ripple>
          <md-icon></md-icon>
          <span class="sidenav-item-name">test</span>
          <span fxFlex></span>
          <span class="badge">3</span>
          </a>
      </md-nav-list>
    </md-nav-list>

  </div>

</div>
