@mixin stbui-navigation-theme() {
  @each $name, $color in $stbui-theme-colors {

    .stbui-background-#{$name} {
      .sidenav-anchor {
        color: mat-contrast($color, 500);

        &:hover {
          color: mat-contrast($color, 600);
        }

        &.active {
          background-color: rgba(white, 0.04) !important;
        }
      }

      sidenav-item.open {

        > .sidenav-list {
          background-color: $black-12-opacity;
        }

        > .sidenav-anchor {
          background-color: $black-12-opacity;

          &:before {
            background: linear-gradient(180deg, $black-12-opacity, transparent);
          }
        }
      }
    }
  }
}
