<div class="sidenav-container" fxLayout="column">

  <md-toolbar color="primary" class="sidenav-toolbar mat-elevation-z2">
    <div fxLayout="row" style="width: 100%;">
      <span style="width: 22px; text-align: center; margin-left: -3px;" fxFlexAlign="center">
        <md-icon class="logo-icon material-icons">view_compact</md-icon>
      </span>
      <a fxFlexAlign="center" class="logo-text fade-in-on-icon-sidenav" href="/">Stbui</a>
      <span fxFlex><!-- fill space --></span>
      <div fxHide="true" fxHide.gt-sm="false" fxFlexAlign="center">
        <button md-icon-button (click)="toggleIconSidenav()">
          <!--<md-icon class="icon-sidenav-toggle fade-in-on-icon-sidenav" [class.rotate]="isIconSidenav()">chevron_left</md-icon>-->
        </button>
      </div>
    </div>
  </md-toolbar>

  <div class="sidenav-scrollbar-container stb-dark" fxLayout="column">
    <perfect-scrollbar>
      <md-nav-list fxLayout="column" class="sidenav-list sidenav-toplevel">
        <sidenav-item *ngFor="let item of items" [item]="item"></sidenav-item>
      </md-nav-list>
    </perfect-scrollbar>
  </div>

</div>
