.customizer {
  &-container {
    width: 250px;
    padding: 10px;
  }

  &-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  &-radio-button {
    margin: 5px;
  }
}
