<div class="customizer-container" fxLayout="column">
  <mat-radio-group class="customizer-radio-group">
    <mat-radio-button class="customizer-radio-button" *ngFor="let theme of themes; index as i"
                      (change)="installTheme(theme)" [value]="theme.primary">{{theme.primary}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="m-t-10">header</div>
  <mat-radio-group class="customizer-radio-group" [(ngModel)]="settings.colorClasses.header"
                   (ngModelChange)="onSettingsChange()">
    <mat-radio-button class="customizer-radio-button" *ngFor="let color of _colors" [value]="'stbui-background-'+color">{{color}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="m-t-10">brand</div>
  <mat-radio-group class="customizer-radio-group" [(ngModel)]="settings.colorClasses.brand"
                   (ngModelChange)="onSettingsChange()">
    <mat-radio-button class="customizer-radio-button" *ngFor="let color of _colors" [value]="'stbui-background-'+color">{{color}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="m-t-10">navigation</div>
  <mat-radio-group class="customizer-radio-group" [(ngModel)]="settings.colorClasses.navigation"
                   (ngModelChange)="onSettingsChange()">
    <mat-radio-button class="customizer-radio-button" *ngFor="let color of _colors" [value]="'stbui-background-'+color">{{color}}
    </mat-radio-button>
  </mat-radio-group>
</div>
