@import '~@angular/material/_theming';

@include mat-core();
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

@import "./app/component/pagination/pagination.component";
@import "./app/navigation/navigation.component";
@include pagination-theme($candy-app-theme);
@include navigation-theme($candy-app-theme);

@import "./scss/apps/_tables";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  line-height: normal;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

md-sidenav-container {
  height: 100%;
}

.avatar-flex {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.widget {
  margin: 12px;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

.quickpanel .mat-tab-body-content,
.quickpanel .mat-tab-body-wrapper,
.quickpanel md-tab-body,
.quickpanel md-tab-group {
  height: 100%;
}


.mat-sidenav-content::-webkit-scrollbar, body::-webkit-scrollbar, md-sidenav.sidenav::-webkit-scrollbar, .main-container::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

.mat-sidenav-content::-webkit-scrollbar-trac, body::-webkit-scrollbar-track, md-sidenav.sidenav::-webkit-scrollbar-trac, .main-container::-webkit-scrollbar-trac {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

.mat-sidenav-content::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, md-sidenav.sidenav::-webkit-scrollbar-thumb, .main-container::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333
}
