@import "./vendors/material-design-icons/iconfont/material-icons.css";

@import "~@angular/material/core/theming/prebuilt/deeppurple-amber";
//@import "~@angular/material/core/theming/prebuilt/indigo-pink";
//@import "~@angular/material/core/theming/prebuilt/purple-green";
//@import "~@angular/material/core/theming/prebuilt/pink-bluegrey";
@include mat-core();

//$pagination-primary: mat-palette($mat-indigo);
//$pagination-accent: mat-palette($mat-pink);
//$pagination-warn: mat-palette($mat-red);
//$pagination-theme: mat-light-theme($pagination-primary, $pagination-accent,$pagination-warn);
//
//@include angular-material-theme($pagination-theme);

@import "./app/component/pagination/pagination.component";
@include pagination-theme($theme);

@import "./app/navigation/navigation.component";
@include navigation-theme($theme);


@import "./scss/apps/_tables";

html, body {
  margin: 0;
  padding:0;
  min-height: 100%;
  height: 100%;
  line-height: normal;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

md-sidenav-container {
  height: 100%;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}

pre {
  margin: 0;
}

code {
  white-space: pre;
}

// DEMO STYLES
.demo-preview {
  background: #F2F2F2;

  button {
    //margin: 12px;
  }

  md-card {
    margin: 24px 0;
  }

  md-card + md-card {
    margin: 0 0 24px;
  }

  md-card > md-card-content > * {
    margin: 10px 5px;
  }
}

h3, h4, h5, p {
  margin: 0 0 16px;
}

h4 {
  font-weight: 500;
  color: #777777;
  font-size: 18px;
}

p {
  line-height: 1.5;
}

@media only screen and (min-width: 1280px) {
  .demo-tabs {
    overflow-x: hidden;
  }
}

.inline {
  display: inline-block;
  padding: 0 0.5em;
  white-space: normal;
  vertical-align: text-bottom;
}

[md-prefix] > md-icon, [md-suffix] > md-icon {
  font-size: 18px;
  vertical-align: middle;
  height: 16px;
  width: 22px;
}

.demo-list {
  margin: 24px 0;
  background: #FFF;
  width: 350px;
}

.subline {
  color: #999999;
}

.avatar-flex {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.widget {
  margin: 12px;
}

.border-radius {
  border-radius: 50%;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

.middle {
  vertical-align: middle;
}

.quickpanel .mat-tab-body-content,
.quickpanel .mat-tab-body-wrapper,
.quickpanel md-tab-body,
.quickpanel md-tab-group {
  height: 100%;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mt0 {
  margin-top: 0 !important;
}


