@import '~@angular/material/_theming';

@include mat-core();
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

@import "./app/component/pagination/pagination.component";
@import "./app/navigation/navigation.component";
@include pagination-theme($candy-app-theme);
@include navigation-theme($candy-app-theme);

@import "./scss/apps/_tables";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  line-height: normal;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}

md-sidenav-container {
  height: 100%;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
}

pre {
  margin: 0;
}

code {
  white-space: pre;
}

h3, h4, h5, p {
  margin: 0 0 16px;
}

h4 {
  font-weight: 500;
  color: #777777;
  font-size: 18px;
}

p {
  line-height: 1.5;
}

.inline {
  display: inline-block;
  padding: 0 0.5em;
  white-space: normal;
  vertical-align: text-bottom;
}

[md-prefix] > md-icon, [md-suffix] > md-icon {
  font-size: 18px;
  vertical-align: middle;
  height: 16px;
  width: 22px;
}

.subline {
  color: #999999;
}

.avatar-flex {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.widget {
  margin: 12px;
}

.border-radius {
  border-radius: 50%;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}

.middle {
  vertical-align: middle;
}

.quickpanel .mat-tab-body-content,
.quickpanel .mat-tab-body-wrapper,
.quickpanel md-tab-body,
.quickpanel md-tab-group {
  height: 100%;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mt0 {
  margin-top: 0 !important;
}


