.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;

  li {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    height: 32px;
    min-width: 32px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 32px;
    margin: 0 8px;
    color: rgba(0,0,0,.87);
    position: relative;
    border-radius: 2px;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }

    .active,
    &.active {
      background: #00aced;

      a {
        color: #fff;
        text-decoration: none;
      }
    }

  }

  &-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.pagination-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.pagination-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
