@import '~@angular/material/theming';
@import "../app/component/pagination/pagination.theme";
@import "../app/component/date-picker/date-picker.theme";
@import "../app/component/notification/notification.theme";

@mixin stbui-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map_get($theme, background);
  $foreground: map_get($theme, foreground);

  @include pagination-theme($theme);
  @include calendar-theme($theme);
  @include notification-theme($theme);
}
