@mixin stbui-theme-color() {
  @each $name, $color in $stbui-theme-colors {

    .stbui-background-#{$name} {
      color: mat-color($color, default-contrast) !important;
      background-color: mat-color($color, default) !important;
    }

    .stbui-#{$name} {
      background-color: mat-color($color, default) !important;
    }
  }
}
