$css-prefix: 'stbui';

.#{$css-prefix}-button {
  &-lg {
    padding: 6px 90px;
    font-size: 20px;
  }
}

.#{$css-prefix}-button-outline {
  border: 1px solid #3f51b5;
  color: #3f51b5;

  &:hover {
    background-color: #3f51b5;
    color: #fff;
  }
}

.#{$css-prefix}-button-block {
  width: 100%;
}
