.gradient-indigo-light-blue.active,.gradient-indigo-light-blue:active,.gradient-indigo-light-blue {
  background-image: linear-gradient(45deg,#c5cae9,#b3e5fc);
  background-repeat: repeat-x
}

.gradient-light-blue-indigo.active,.gradient-light-blue-indigo:active,.gradient-light-blue-indigo {
  background-image: linear-gradient(45deg,#b3e5fc,#9fa8da);
  background-repeat: repeat-x
}

.gradient-yellow-green.active,.gradient-yellow-green:active,.gradient-yellow-green {
  background-image: linear-gradient(45deg,#ffff8d,#b9f6ca);
  background-repeat: repeat-x
}

.gradient-orange-deep-orange.active,.gradient-orange-deep-orange:active,.gradient-orange-deep-orange {
  background-image: linear-gradient(45deg,#ffe0b2,#ffccbc);
  background-repeat: repeat-x
}

.gradient-deep-purple-purple.active,.gradient-deep-purple-purple:active,.gradient-deep-purple-purple {
  background-image: linear-gradient(45deg,#d1c4e9,#f3e5f5);
  background-repeat: repeat-x
}

.gradient-red-pink.active,.gradient-red-pink:active,.gradient-red-pink {
  background-image: linear-gradient(45deg,#ff5252,#f48fb1);
  background-repeat: repeat-x
}

.gradient-light-green-amber.active,.gradient-light-green-amber:active,.gradient-light-green-amber {
  background-image: linear-gradient(45deg,#c5e1a5,#fff8e1);
  background-repeat: repeat-x
}

.gradient-amber-amber.active,.gradient-amber-amber:active,.gradient-amber-amber {
  background-image: linear-gradient(45deg,#ff6f00,#ffca28);
  background-repeat: repeat-x
}

.gradient-purple-pink.active,.gradient-purple-pink:active,.gradient-purple-pink {
  background-image: linear-gradient(45deg,#ea80fc,#fce4ec);
  background-repeat: repeat-x
}

.gradient-indigo-dark-blue.active,.gradient-indigo-dark-blue:active,.gradient-indigo-dark-blue {
  background-image: linear-gradient(45deg,#3949ab,#4fc3f7);
  background-repeat: repeat-x
}

.gradient-teal-cyan.active,.gradient-teal-cyan:active,.gradient-teal-cyan {
  background-image: linear-gradient(45deg,#e0f2f1,#00e5ff);
  background-repeat: repeat-x
}

.gradient-blue-grey-blue-grey.active,.gradient-blue-grey-blue-grey:active,.gradient-blue-grey-blue-grey {
  background-image: linear-gradient(45deg,#cfd8dc,#546e7a);
  background-repeat: repeat-x
}

.gradient-cyan-dark-green.active,.gradient-cyan-dark-green:active,.gradient-cyan-dark-green {
  background-image: linear-gradient(45deg,#0097a7,#b2ff59);
  background-repeat: repeat-x
}

.gradient-orange-amber.active,.gradient-orange-amber:active,.gradient-orange-amber {
  background-image: linear-gradient(45deg,#e65100,#ffa000);
  background-repeat: repeat-x
}

.gradient-indigo-blue.active,.gradient-indigo-blue:active,.gradient-indigo-blue {
  background-image: linear-gradient(45deg,#303f9f,#1976d2);
  background-repeat: repeat-x
}

.gradient-brown-brown.active,.gradient-brown-brown:active,.gradient-brown-brown {
  background-image: linear-gradient(45deg,#6d4c41,#d7ccc8);
  background-repeat: repeat-x
}

.gradient-blue-grey-blue.active,.gradient-blue-grey-blue:active,.gradient-blue-grey-blue {
  background-image: linear-gradient(45deg,#263238,#2979ff);
  background-repeat: repeat-x
}

.gradient-purple-deep-orange.active,.gradient-purple-deep-orange:active,.gradient-purple-deep-orange {
  background-image: linear-gradient(45deg,#8e24aa,#ff6e40);
  background-repeat: repeat-x
}

.gradient-green-teal.active,.gradient-green-teal:active,.gradient-green-teal {
  background-image: linear-gradient(45deg,#43a047,#1de9b6);
  background-repeat: repeat-x
}

.gradient-purple-light-blue.active,.gradient-purple-light-blue:active,.gradient-purple-light-blue {
  background-image: linear-gradient(45deg,#e040fb,#4fc3f7);
  background-repeat: repeat-x
}

.gradient-cyan-cyan.active,.gradient-cyan-cyan:active,.gradient-cyan-cyan {
  background-image: linear-gradient(45deg,#18ffff,#00e5ff);
  background-repeat: repeat-x
}

.gradient-yellow-teal.active,.gradient-yellow-teal:active,.gradient-yellow-teal {
  background-image: linear-gradient(45deg,#fff9c4,#64ffda);
  background-repeat: repeat-x
}

.gradient-purple-deep-purple.active,.gradient-purple-deep-purple:active,.gradient-purple-deep-purple {
  background-image: linear-gradient(45deg,#7b1fa2,#7c4dff);
  background-repeat: repeat-x
}

.gradient-cyan-light-green.active,.gradient-cyan-light-green:active,.gradient-cyan-light-green {
  background-image: linear-gradient(45deg,#00e5ff,#ccff90);
  background-repeat: repeat-x
}

.gradient-purple-amber.active,.gradient-purple-amber:active,.gradient-purple-amber {
  background-image: linear-gradient(45deg,#d500f9,#ffa000);
  background-repeat: repeat-x
}

.gradient-indigo-purple.active,.gradient-indigo-purple:active,.gradient-indigo-purple {
  background-image: linear-gradient(45deg,#303f9f,#7b1fa2);
  background-repeat: repeat-x
}

.gradient-deep-purple-blue.active,.gradient-deep-purple-blue:active,.gradient-deep-purple-blue {
  background-image: linear-gradient(45deg,#6200ea,#1976d2);
  background-repeat: repeat-x
}

.gradient-deep-orange-orange.active,.gradient-deep-orange-orange:active,.gradient-deep-orange-orange {
  background-image: linear-gradient(45deg,#bf360c,#f57c00);
  background-repeat: repeat-x
}

.gradient-light-blue-cyan.active,.gradient-light-blue-cyan:active,.gradient-light-blue-cyan {
  background-image: linear-gradient(45deg,#0288d1,#26c6da);
  background-repeat: repeat-x
}

.gradient-blue-indigo.active,.gradient-blue-indigo:active,.gradient-blue-indigo {
  background-image: linear-gradient(45deg,#2962ff,#3949ab);
  background-repeat: repeat-x
}

.gradient-strawberry.active,.gradient-strawberry:active,.gradient-strawberry {
  background-image: linear-gradient(45deg,#fe0b46,#ffab96);
  background-repeat: repeat-x
}

.gradient-blueberry.active,.gradient-blueberry:active,.gradient-blueberry {
  background-image: linear-gradient(45deg,#6078ea,#17ead9);
  background-repeat: repeat-x
}

.gradient-mint.active,.gradient-mint:active,.gradient-mint {
  background-image: linear-gradient(45deg,#23bcbb,#45e994);
  background-repeat: repeat-x
}

.gradient-orange.active,.gradient-orange:active,.gradient-orange {
  background-image: linear-gradient(45deg,#c471f3,#f671cd);
  background-repeat: repeat-x
}

.gradient-pomegranate.active,.gradient-pomegranate:active,.gradient-pomegranate {
  background-image: linear-gradient(45deg,#9b3cb7,#ff396f);
  background-repeat: repeat-x
}

.gradient-green-tea.active,.gradient-green-tea:active,.gradient-green-tea {
  background-image: linear-gradient(45deg,#004b91,#78cc37);
  background-repeat: repeat-x
}

.gradient-blackberry.active,.gradient-blackberry:active,.gradient-blackberry {
  background-image: linear-gradient(45deg,#843cf7,#38b8f2);
  background-repeat: repeat-x
}

.gradient-plum.active,.gradient-plum:active,.gradient-plum {
  background-image: linear-gradient(45deg,#e35c67,#381ce2);
  background-repeat: repeat-x
}

.gradient-passion-fruit.active,.gradient-passion-fruit:active,.gradient-passion-fruit {
  background-image: linear-gradient(45deg,#8137f7,#f6ab3e);
  background-repeat: repeat-x
}

.gradient-sublime-vivid.active,.gradient-sublime-vivid:active,.gradient-sublime-vivid {
  background-image: linear-gradient(45deg,#fc466b,#3f5efb);
  background-repeat: repeat-x
}

.gradient-king-yna.active,.gradient-king-yna:active,.gradient-king-yna {
  background-image: linear-gradient(45deg,#1a2a6c,#b21f1f);
  background-repeat: repeat-x
}

.gradient-summer.active,.gradient-summer:active,.gradient-summer {
  background-image: linear-gradient(45deg,#22c1c3,#fdbb2d);
  background-repeat: repeat-x
}

.gradient-crystal-clear.active,.gradient-crystal-clear:active,.gradient-crystal-clear {
  background-image: linear-gradient(45deg,#159957,#155799);
  background-repeat: repeat-x
}

.gradient-celestial.active,.gradient-celestial:active,.gradient-celestial {
  background-image: linear-gradient(45deg,#c33764,#1d2671);
  background-repeat: repeat-x
}

.gradient-mini.active,.gradient-mini:active,.gradient-mini {
  background-image: linear-gradient(45deg,#30e8bf,#ff8235);
  background-repeat: repeat-x
}

.gradient-ibiza-sunset.active,.gradient-ibiza-sunset:active,.gradient-ibiza-sunset {
  background-image: linear-gradient(45deg,#ee0979,#ff6a00);
  background-repeat: repeat-x
}

.gradient-dawn.active,.gradient-dawn:active,.gradient-dawn {
  background-image: linear-gradient(45deg,#f3904f,#3b4371);
  background-repeat: repeat-x
}

.gradient-brady-brady-fun-fun.active,.gradient-brady-brady-fun-fun:active,.gradient-brady-brady-fun-fun {
  background-image: linear-gradient(45deg,#00c3ff,#ffff1c);
  background-repeat: repeat-x
}

.gradient-cosmic-fusion.active,.gradient-cosmic-fusion:active,.gradient-cosmic-fusion {
  background-image: linear-gradient(45deg,#f0c,#339);
  background-repeat: repeat-x
}

.gradient-nepal.active,.gradient-nepal:active,.gradient-nepal {
  background-image: linear-gradient(45deg,#de6161,#2657eb);
  background-repeat: repeat-x
}

.gradient-love-couple.active,.gradient-love-couple:active,.gradient-love-couple {
  background-image: linear-gradient(45deg,#3a6186,#89253e);
  background-repeat: repeat-x
}

.gradient-sunset.active,.gradient-sunset:active,.gradient-sunset {
  background-image: linear-gradient(45deg,#0b486b,#f56217);
  background-repeat: repeat-x
}

.gradient-grapefruit-sunset.active,.gradient-grapefruit-sunset:active,.gradient-grapefruit-sunset {
  background-image: linear-gradient(45deg,#e96443,#904e95);
  background-repeat: repeat-x
}

.gradient-politics.active,.gradient-politics:active,.gradient-politics {
  background-image: linear-gradient(45deg,#2196f3,#f44336);
  background-repeat: repeat-x
}

.gradient-red-ocean.active,.gradient-red-ocean:active,.gradient-red-ocean {
  background-image: linear-gradient(45deg,#1d4350,#a43931);
  background-repeat: repeat-x
}

.gradient-back-to-earth.active,.gradient-back-to-earth:active,.gradient-back-to-earth {
  background-image: linear-gradient(45deg,#20cae4,#1ce5b7);
  background-repeat: repeat-x
}

.gradient-flickr.active,.gradient-flickr:active,.gradient-flickr {
  background-image: linear-gradient(45deg,#33001b,#ff0084);
  background-repeat: repeat-x
}

.gradient-virgin-america.active,.gradient-virgin-america:active,.gradient-virgin-america {
  background-image: linear-gradient(45deg,#7b4397,#dc2430);
  background-repeat: repeat-x
}

.gradient-purple-bliss.active,.gradient-purple-bliss:active,.gradient-purple-bliss {
  background-image: linear-gradient(45deg,#360033,#0b8793);
  background-repeat: repeat-x
}

.gradient-man-of-steel.active,.gradient-man-of-steel:active,.gradient-man-of-steel {
  background-image: linear-gradient(45deg,#780206,#061161);
  background-repeat: repeat-x
}

.gradient-shdow-night.active,.gradient-shdow-night:active,.gradient-shdow-night {
  background-image: linear-gradient(45deg,#000,#53346d);
  background-repeat: repeat-x
}

.gradient-dracula.active,.gradient-dracula:active,.gradient-dracula {
  background-image: linear-gradient(45deg,#dc2424,#4a569d);
  background-repeat: repeat-x
}

.gradient-bloody-mary.active,.gradient-bloody-mary:active,.gradient-bloody-mary {
  background-image: linear-gradient(45deg,#ff512f,#dd2476);
  background-repeat: repeat-x
}

.gradient-harmonic-energy.active,.gradient-harmonic-energy:active,.gradient-harmonic-energy {
  background-image: linear-gradient(45deg,#16a085,#f4d03f);
  background-repeat: repeat-x
}

.gradient-purple-love.active,.gradient-purple-love:active,.gradient-purple-love {
  background-image: linear-gradient(45deg,#cc2b5e,#753a88);
  background-repeat: repeat-x
}
