.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.text-white {
  color: #fff;
}

.primary-text-color {

}
.secondary-text-color {

}
.primary-color-dark {

}
.primary-color {

}
.primary-color-light {

}
.accent-color {

}
