<section class="todoapp">
  <app-todo-header
    placeholder="What do you want"
    (textChanges)="onTextChanges($event)"
    (onEnterUp)="addTodo()" >
  </app-todo-header>
  <section class="main" *ngIf="todos?.length > 0">
    <input class="toggle-all" type="checkbox">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodo(todo)" [checked]="todo.completed">
          <label (click)="toggleTodo(todo)">{{todo.desc}}</label>
          <button md-icon-button class="destroy" (click)="removeTodo(todo); $event.stopPropagation()"><md-icon>close</md-icon></button>
        </div>
      </li>
    </ul>
  </section>
  <app-todo-footer [itemCount]="todos?.length"></app-todo-footer>
</section>
