<div class="container-fluid">
  <section class="todoapp">
    <app-todo-header
      placeholder="您想要做什么"
      (onEnterUp)="addTodo($event)">
    </app-todo-header>
    <app-todo-list
      [todos]="todos | async"
      (onToggleAll)="toggleAll()"
      (onRemoveTodo)="removeTodo($event)"
      (onToggleTodo)="toggleTodo($event)"
    >
    </app-todo-list>
    <app-todo-footer
      [itemCount]="todos?.length | async"
      (onClear)="clearCompleted()">
    </app-todo-footer>
  </section>
</div>
