:host {
  display: block;
  position: relative;
  padding: 0 15px;
}

.todo {
  &-title {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
  }
}


