:host {
  display: block;
  padding: 0 15px;
}

.todo {
  position: relative;
  max-width: 1200px;
  padding: 0 32px 64px;
  margin: 15px auto auto;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
