$margin-top__search__title: 42px;

.search {
  margin-top: $margin-top__search__title;
}

.todo-list {
  overflow: scroll;
}

.todo-list-item {
  display: block;
  position: relative;
  padding: 16px 16px 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  text-transform: none;
  cursor: pointer;
  flex-shrink: 0;
  background: #fff;

  &.completed {
    background: #eee;
  }

  .handle {
    height: 48px;
    line-height: 48px;
    cursor: move;
    user-select: none;
  }

  .item {
    margin: 0 16px 0 8px;

    .title {
      font-size: 15px;
      font-weight: 500;
    }

    .notes {
      margin-top: 4px;
    }
  }
}

.m-r-16 {
  margin-right: 16px;
}

//
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
    0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}
