<!--<md-sidenav class="md-sidenav-right md-whiteframe-4dp">-->
  <!--<div class="md-sidenav-inner">-->

    <!--<md-tab-group>-->
      <!--<md-tab>-->
        <!--<template md-tab-label>-->
          <!--<md-icon>people</md-icon>-->
        <!--</template>-->
        <!--<section>-->
          <!--<div class="color-primary">Tech</div>-->
          <!--<md-list class="md-dense">-->
            <!--<md-list-item class="md-2-line">-->
              <!--<img src="assets/images-demo/avatars/1.jpg" class="md-avatar" alt="">-->
              <!--<div class="md-list-item-text">-->
                <!--<h3>Best pasta restaurants</h3>-->
                <!--<p>test</p>-->
              <!--</div>-->
            <!--</md-list-item>-->
            <!--<md-list-item class="md-2-line">-->
              <!--<img src="assets/images-demo/avatars/1.jpg" class="md-avatar" alt="">-->
              <!--<div class="md-list-item-text">-->
                <!--<h3>Best pasta restaurants</h3>-->
                <!--<p>test</p>-->
              <!--</div>-->
            <!--</md-list-item>-->
          <!--</md-list>-->
        <!--</section>-->

      <!--</md-tab>-->
      <!--<md-tab>-->
        <!--<template md-tab-label>-->
          <!--<md-icon>notifications</md-icon>-->
        <!--</template>-->
        <!--<h1>Terrible sushi restaurants</h1>-->
        <!--<p>...</p>-->
      <!--</md-tab>-->
    <!--</md-tab-group>-->

  <!--</div>-->
<!--</md-sidenav>-->
