md-sidenav {
  background-color: #c3325f;
}

.md-avatar {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  width: 36px;
  height: 36px;
}

h3 {
  font-size: 13px;
  line-height: 1.05;
  margin: 0;
}
