:host {
  display: block;
}

.brand {
  position: relative;
  width: 250px;
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &::before {
    content: 'STBUI';
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.12);
    font-size: 32px;
  }

  &-logo {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 24px;
    color: #fff;
  }
}
